<template>
	<div>

		<div class="spinner" v-show="loading">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>

		<!-- FIRST STEP (FILL THE DATA) -->
		<v-layout v-if="is_mounted" justify-center>
			<v-flex xs8 style="">
				<img src="~/assets/empty_product.png" style="margin-bottom: 20px; margin-top: 24px; width: 100%;"/>
			</v-flex>
		</v-layout>

		<v-layout
			row wrap
			fill-width
			v-show="!loading">
			<v-flex xs12>
				<template>
					<div>
						<v-toolbar
							color="#FFFFFF"
							style="border-bottom: 2px solid #E3E3E3;"
							flat
							fixed app id="title">
							<v-toolbar-side-icon @click="back()">
								<v-icon>arrow_back</v-icon>
							</v-toolbar-side-icon>

							<v-toolbar-title style="color: #030303;" class="ml-0">{{ $t('history') }}</v-toolbar-title>

							<v-spacer></v-spacer>
						</v-toolbar>
					</div>
				</template>
			</v-flex>


			<v-flex xs12 class="mt-4">
				<v-container class="pt-3">
					<v-flex xs12 class="mb-3" v-for="record in records_" :key="record.date_added">
						<v-card flat>
							<v-expansion-panel class="pa-2">
								<v-expansion-panel-content>
									<template v-slot:header>
										<v-flex xs12>
											<div class="primary--text">{{ record.code }}</div>
											<span>{{ $t('at') }} {{ record.date_added }}</span><br>
											<span>{{ record.payment_method === 'transfer' ? rupiah(record.total_plus_kode) : rupiah(record.total) }}</span><br>
											<span v-if="record.payment_method !== 'trial'"><span :class="(record.payment_status === 'Expired' || record.payment_status === 'Failed') ? 'red--text' : ''">{{ record.payment_status }}</span></span>
											<span v-else-if="record.payment_method === 'trial'"><kbd>Free Trial</kbd></span>
										</v-flex>
									</template>

									<v-divider></v-divider>

									<v-layout row class="text-xs-center caption my-2">
										<v-flex xs6>{{ $t('invoice_no') }}</v-flex>
										<v-flex xs6>{{ record.invoice }}</v-flex>
									</v-layout>
									<v-layout row class="text-xs-center caption my-2" v-if="record.payment_method !== 'trial'">
										<v-flex xs6>{{ $t('payment_method') }}</v-flex>
										<v-flex xs6>{{ record.title }}</v-flex>
									</v-layout>
									<v-layout row class="text-xs-center caption my-2" v-if="record.payment_method !== 'trial'">
										<v-flex xs6>{{ $t('bank_account_no') }}</v-flex>
										<v-flex xs6 v-if="record.payment_method === 'transfer'">{{ JSON.parse(record.payment_to).bca.account_number }}</v-flex>
										<v-flex xs6 v-else-if="record.payment_method === 'bca_va' || record.payment_method === 'mandiri_va' || record.payment_method === 'bni_va' || record.payment_method === 'bri_va' || record.payment_method === 'alfamart'">{{ record.payment_to !== '' ? JSON.parse(record.payment_to).account_number : '' }}</v-flex>
										<v-flex xs6 v-else></v-flex>
									</v-layout>
									<v-layout row class="text-xs-center caption my-2" v-if="record.payment_method !== 'trial'">
										<v-flex xs6>{{ $t('bank_account_name') }}</v-flex>
										<v-flex xs6 v-if="record.payment_method === 'transfer'">{{ JSON.parse(record.payment_to).bca.account_name }}</v-flex>
										<v-flex xs6 v-else-if="record.payment_method === 'bca_va' || record.payment_method === 'mandiri_va' || record.payment_method === 'bni_va' || record.payment_method === 'bri_va' || record.payment_method === 'alfamart'">{{ record.payment_to !== '' ? JSON.parse(record.payment_to).account_name : '' }}</v-flex>
									</v-layout>
									<v-layout row class="text-xs-center caption my-2" v-else>
									</v-layout>
									<v-layout row class="text-xs-center caption my-2" v-if="record.payment_status === 'Pending' && record.payment_method !== 'trial'">
										<v-flex xs6>{{ $t('due_date') }}</v-flex>
										<v-flex xs6>{{ record.due_date }}</v-flex>
									</v-layout>
									<v-layout row class="text-xs-center caption my-2" v-else-if="record.payment_status === 'Paid'">
										<v-flex xs6>{{ $t('payment_date') }}</v-flex>
										<v-flex xs6>{{ record.payment_date }}</v-flex>
									</v-layout>

									<v-divider></v-divider>

									<v-layout row class="text-xs-center caption my-2">
										<v-flex xs6>
											<v-flex xs12>{{ $t('recording_method') }}</v-flex>
											<v-flex xs12>{{ record.order_meta ? JSON.parse(record.order_meta).recording_method_description : '' }}</v-flex>
										</v-flex>

										<v-divider vertical></v-divider>

										<v-flex xs6>
											<v-flex xs12>{{ $t('duration') }}</v-flex>
											<v-flex xs12>{{ record.order_meta ? JSON.parse(record.order_meta).recording_duration_description : '' }}</v-flex>
										</v-flex>
									</v-layout>

									<v-flex xs12 class="caption text-xs-center">{{ $t('device_name') }}</v-flex>
									<div v-if="record.order_meta === null || record.order_meta === ''"></div>
									<div v-else>
										<v-flex xs12 class="caption text-xs-center" v-for="n in JSON.parse(record.order_meta).device_name.toString().split(',') " :key="n">{{ n }}</v-flex>
									</div>
									
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-card>
					</v-flex>
				</v-container>
			</v-flex>

			<v-flex xs12>
				<template>
					<div class="text-xs-center">
						<v-pagination
							v-model="current_page" 
							:length="page_count"
							:total-visible="5"
							@input="onPageChange(current_page)" ></v-pagination>
					</div>
				</template>
			</v-flex>
		</v-layout>

		<v-snackbar
			v-model="snackbar"
			color="primary"
			multi-line
			:timeout="timeout">
			{{ snackbar_text }}
			<v-btn
				dark
				flat
				@click="snackbar = false">
				{{ $t('close') }}
			</v-btn>
		</v-snackbar>
		
	</div>
</template>

<script>

import axios from 'axios'
import vuex from 'vuex'
import util from '~/assets/js/util'

export default {
	data() {
		return {
            records_: {},
			timeout: 5000,
			snackbar: false,
			snackbar_text: '',
			is_mounted: false,
			loading: false,
			page_count: 1,
			current_page: 0,
			length: 5
		}
	},
	mounted() {
		this.loading = true
		let page = this.$route.query.page
		this.setPageNumbers(page)
		let height = localStorage.getItem('paddingTop')
		this.setHeight(height)

		if ($nuxt.isOffline) {
			if (this.isAndroid()) {
				javascript: android.gotoLoginActivity();
			} else {
				this.postMessageToIOS({ gotoLoginActivity: true })
			}
		}
	},
	methods: {
		back: function () {
			this.exit()
			// let page = Number(this.$route.query.page)
			// if (page !== 1) {
			// 	let auth = this.$route.query.auth
			// 	let prev = page - 1
			// 	this.$route.push('/cctv/history/?auth='+ auth +'&page='+ prev)
			// 	this.setPageNumbers(prev)
			// } else {
			// 	this.exit()
			// }
		},
		exit: function () {
			localStorage.clear()
			if (this.isAndroid()) {
				javascript: android.exitActivity();
			} else {
				this.postMessageToIOS({  isCloseWebView: true });
			}
		},
		do_query: function (url, body) {
			this.loading = true
			var qs = require('qs')
			return axios({
				method: 'POST',
				url: this.$store.state.init.base + url,
				data: qs.stringify(body)
			})
		},
		rupiah: function (x) {
			return util.rupiah(x)
		},
		setHeight: function(height) {
			if (this.isAndroid()) {
				let title = document.getElementById("title");
				title.style.paddingTop = height + "px";
			} else {
				this.postMessageToIOS({ navTitle: "Cloud Storage Service" });
			}
		},
		isAndroid: function () {
			let u = navigator.userAgent;
			let isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1

			return isAndroid
		},
		postMessageToIOS: function(data) {
			try {
				window.webkit.messageHandlers.getMessage.postMessage(data)
			} catch (error) {
			}
		},
		setPageNumbers: function (pagenumber) {
			let auth = this.$route.query.auth
			let start = 0

			if (pagenumber === '1') {
				start = 0
			} else {
				start = (Number(pagenumber) - 1) * Number(this.length)
			}

			if (auth === undefined) {
				this.loading = false
				this.is_mounted = true
				this.snackbar_text = 'Invalid Authentication'
				this.snackbar = true
			} else {
				let body = {
					'user': auth,
					'start': start,
					'length': this.length,
					'page': pagenumber
				};

				this.do_query('info/payment_history', body).then(res => {
					if (res.status === 200) {
						let data = res.data
						this.is_mounted = false
						this.records_ = data.order
						this.page_count = data.total_page
						this.current_page = data.page
						this.loading = false
					} else {
						this.loading = false
						this.snackbar_text = data.msg
					}
				})
			}
		},
		onPageChange: function (page) {
			let auth = this.$route.query.auth
			this.$router.push('/cctv/history/?auth='+ auth +'&page='+ page)
			this.setPageNumbers(page)
		}
	}
}
</script>