<template>
	<div>

		<div class="spinner" v-show="loading">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>

		<!-- FIRST STEP (FILL THE DATA) -->
		<v-layout v-if="is_mounted && recording_duration.length === 0" justify-center>
			<v-flex xs8 style="">
				<img src="~/assets/empty_product.png" style="margin-bottom: 20px; margin-top: 24px; width: 100%;"/>
			</v-flex>
		</v-layout>

		<v-layout
			row wrap
			fill-width
			v-show="!loading">
			<v-flex xs12>
				<template>
					<div>
						<v-toolbar
							color="#FFFFFF"
							style="border-bottom: 2px solid #E3E3E3;"
							flat
							fixed app id="title">
							<v-toolbar-side-icon @click="exit()">
								<v-icon>arrow_back</v-icon>
							</v-toolbar-side-icon>

							<v-toolbar-title style="color: #030303;" class="ml-0">{{ $t('detail') }}</v-toolbar-title>

							<v-spacer></v-spacer>

							<v-menu bottom left>
								<template v-slot:activator="{ on }">
									<v-btn icon v-on="on">
										<v-icon>more_vert</v-icon>
									</v-btn>
								</template>

								<v-list>
									<v-list-tile>
										<v-list-tile-title @click="history()">{{ $t('to_history') }}</v-list-tile-title>
									</v-list-tile>
								</v-list>
							</v-menu>
						</v-toolbar>
					</div>
				</template>
			</v-flex>

			<v-flex xs12 class="mt-4">
				<template>
					<v-subheader class="primary--text text--lighten-1 pa-0 ma-0">{{ $t('rent_time') }}</v-subheader>
						
					<v-card class="bRadius" flat fluid color="#FFFFFF">
						<v-card-title>
							<span class="text-muted">{{ date }}</span>
						</v-card-title>
					</v-card>
				</template>
			</v-flex>

			<!-- Choose Camera -->
			<v-flex xs12>
				<template>
					<v-subheader class="pa-0 ma-0">
						<span  class="primary--text text--lighten-1">{{ $t('choose_camera') }}</span>
					</v-subheader>
					<v-card
						v-for="camera in cameras_"
						:key="camera.device_id"
						:class="{ active : active_camera.includes(camera.device_id)}"
						flat
						class="mb-1 bRadius"
						color="#FFFFFF">
						<v-card-actions height="55">
							<v-checkbox
								v-model="camera_units"
								:label="camera.device_name"
								:value="camera"
								color="primary"
								class="my-0"
								hide-details />
						</v-card-actions>
					</v-card>
				</template>
			</v-flex>

			<!-- Recording Method -->
			<v-flex xs12>
				<template>
					<v-subheader class="pa-0 ma-0">
						<span class="primary--text text--lighten-1 ">{{ $t('recording_method') }}</span>

						<v-spacer></v-spacer>
						<span class="text-muted font-italic"> {{ recording_duration_desc }}</span>
					</v-subheader>

					<v-card
						v-for="record in recording_"
						:key="record.id"
						:class="{ active : active_record === record.id }"
						flat
						class="bRadius"
						style="active_color(record.days)"
						color="#FFFFFF">
						<v-radio-group
							v-model="recording_duration"
							@click="set_recording_detail(record)"
							class="mb-1 mt-0">
							<v-card-actions height="55">
								<v-radio 
									:label="record.label"
									:value="record.days"
									color="primary"
									class="py-0"
									hide-details />
							</v-card-actions>
						</v-radio-group>
					</v-card>
				</template>
			</v-flex>

			<!-- Duration -->
			<v-flex xs12>
				<template>
					<v-subheader class="primary--text text--lighten-1 pa-0 ma-0">{{ $t('choose_duration') }}</v-subheader>

					<v-card
						v-for="duration in rent_"
						:key="duration.id"
						:class="{ active : active_rent === duration.id }"
						flat
						class="bRadius"
						color="#FFFFFF">
						<v-radio-group
							v-model="rent_time"
							@click="set_duration_detail(duration)"
							class="mb-1 mt-0"
							v-if="(recording_duration <= Number(duration.days)) && (!cek_trial(duration.price))">
							<v-card-actions height="55">
								<v-radio
									:label="duration.label"
									:value="duration.days"
									color="primary"
									class="py-0 my-0"
									hide-details>
								</v-radio><div style="right: 15px;left: auto;position: absolute;float: right;" :class="duration.price == 0 ? 'font-weight-light font-italic' : ''">{{ duration_caption(duration.price) }}</div>
							</v-card-actions>
						</v-radio-group>
					</v-card>
				</template>
			</v-flex>

			<!-- Detail -->
			<v-expand-transition>
				<v-flex xs12 pt-3 v-show="!is_disabled">
					<template>
						<v-subheader class="pa-0 ma-0">
							<span class="primary--text text--lighten-1">{{ $t('detail') }}</span>
						</v-subheader>

						<v-card flat class="mb-2 bRadius" color="#FFFFFF">
							<v-card-text class="ma-0 pa-0">
								<v-list class="mx-0 px-0 py-2">
									<v-list-tile>
										<span class="text-muted">{{ $t('time') }}</span> <v-spacer></v-spacer> {{ date }}
									</v-list-tile>

									<v-divider></v-divider>

									<v-list-tile>
										<span class="text-muted">{{ $t('recording_method') }}</span> <v-spacer></v-spacer> {{ recording_duration_desc }}
									</v-list-tile>

									<v-divider></v-divider>

									<v-list-tile style="text-align: left;">
										<span class="text-muted">{{ $t('camera_choice') }}</span> <v-spacer></v-spacer> {{ camera_units_desc.toString() }}
									</v-list-tile>

									<v-divider></v-divider>

									<v-list-tile>
										<span class="text-muted">{{ $t('camera_quantity') }}</span> <v-spacer></v-spacer> {{ camera_units.length }}
									</v-list-tile>

									<v-divider></v-divider>

									<v-list-tile>
										<span class="text-muted">{{ $t('duration') }}</span> <v-spacer></v-spacer> {{ rent_time_desc }}
									</v-list-tile>

									<v-divider></v-divider>

									<v-list-tile>
										<span class="text-muted">{{ $t('total') }}</span> <v-spacer></v-spacer> {{ total_price }}
									</v-list-tile>
								</v-list>
							</v-card-text>
						</v-card>
					</template>
				</v-flex>
			</v-expand-transition>

			<v-flex xs12>
				<div class="pt-3">
					<v-btn
						color="primary"
						class="text-capitalize btn-big"
						block
						depressed
						large
						:disabled="is_disabled"
						@click="submit">{{ $t('submit') }}</v-btn>
				</div>
			</v-flex>
		</v-layout>

		<v-snackbar
			v-model="snackbar"
			color="primary"
			multi-line
			:timeout="timeout">
			{{ snackbar_text }}
			<v-btn
				dark
				flat
				@click="snackbar = false">
				{{ $t('close')}}
			</v-btn>
		</v-snackbar>
		
	</div>
</template>

<script>

import axios from 'axios'
import vuex from 'vuex'
import util from '~/assets/js/util'

export default {
	data() {
		return {
			token: '',
			auth: '',
			date: '',
			recording_: {},
			cameras_: {},
			rent_: {},
			
			recording_duration: 0,
			recording_duration_desc: '',
			camera_units: [],
			camera_units_desc: [],
			rent_time: 0,
			rent_time_desc: '',
			price: 0,

			active_record: '',
			active_camera: [],
			active_rent: '',
			total_order: 0,
			
			timeout: 5000,
			snackbar: false,
			snackbar_text: '',
			is_mounted: false,
			loading: false,
			trial: false
		}
	},
	mounted() {
		this.sendDataToApp()

		window.jsGetTokenAndDeviceID = this.jsGetTokenAndDeviceID;
		
		if ($nuxt.isOffline) {
			if (this.isAndroid()) {
				javascript: android.gotoLoginActivity();
			} else {
				this.postMessageToIOS({ gotoLoginActivity: true })
			}
		}

		let lang = this.getQueryString("lang");
		this.$i18n.locale = lang
	},
	methods: {
		set_recording_detail: function(detail) {
			this.active_record = detail.id,
			this.recording_duration = detail.days,
			this.recording_duration_desc = detail.label
		},
		select_camera: function() {
			if (this.trial === false) {
				this.active_rent = '',
				this.rent_time = null,
				this.rent_time_desc = '',
				this.price = 0
			}
			this.camera_units_desc = []
			this.active_camera = []
			let status = []
			for( var i = 0; i < this.camera_units.length; i++){
				this.camera_units_desc.push(this.camera_units[i].device_name)
				this.active_camera.push(this.camera_units[i].device_id)

				if (this.camera_units[i].status === 'trial') {
					status.push('true')
				} else {
					status.push('false')
				}
			}

			if (status.includes('false')) {
				this.trial = false
			} else if (typeof status === 'undefined' || status.length === 0) {
				this.trial = false
			} else {
				this.trial = true
			}
		},
		set_duration_detail: function(duration) {
			this.active_rent = duration.id,
			this.rent_time = duration.days,
			this.rent_time_desc = duration.label,
			this.price = duration.price
		},
		duration_caption: function (price) {
			if (price == 0) {
				return '*free'
			}
			else {
				return util.rupiah(Number(price))
			}
		},
		set_price: function () {
			if (this.recording_duration > this.rent_time) {
				this.rent_time = 0,
				this.rent_time_desc = '',
				this.active_rent = ''
			}
		},
		submit: function () {
			this.loading = true

			if (this.price == 0) {
				let body = {
					"recording_method": this.recording_duration,
					"recording_method_description": this.recording_duration_desc,
					"device_ids": this.active_camera,
					"device_name": this.camera_units_desc,
					"recording_duration": this.rent_time,
					"recording_duration_description": this.rent_time_desc,
					"payment_method": "trial",
					"access_token": this.token,
					"order_total": 0
				}

				var qs = require('qs')
				axios({
					method: 'POST',
					url: this.$store.state.init.base + 'payment/free_process',
					data: qs.stringify(body)
				}).then ( ({ data }) => {
					if (data.success == 1) {
						this.set_payment_result(data)
					} else {
						console.log('failed process')
					}
				}).catch(( err ) => {
					console.log(err)
				})
			} else {
				let order = {
					"recording_method": this.recording_duration,
					"recording_method_description": this.recording_duration_desc,
					"device_ids": this.active_camera,
					"device_name": this.camera_units_desc,
					"recording_duration": this.rent_time,
					"recording_duration_description": this.rent_time_desc,
					"order_total": this.order_total
				}
				localStorage.setItem('order', JSON.stringify(order))
				this.$router.push('/cctv/payment')
			}
		},
		cek_trial: function (time) {
			if ((time == 0) && (!this.trial)) {
				return true
			} else {
				return false
			}
		},
		wipe: function (value) {
			if (value === false) {
				this.rent_durations = '',
				this.rent_time = 0,
				this.rent_time_desc = '',
				this.active_rent = ''
			}
		},
		set_payment_result: function (data) {
			let order = {
				"recording_duration": this.recording_duration,
				"recording_description": this.recording_duration_desc,
				"camera_id": this.active_camera,
				"camera_name": this.camera_units_desc,
				"duration_time": this.rent_time,
				"duration_description": this.rent_time_desc,
				"price": this.order_total
			}
			localStorage.setItem('order', JSON.stringify(order))
			this.loading = false
			this.$router.push('/cctv/payment_detail?order=' + data.order_data.order.code)
		},
		exit: function () {
			localStorage.clear()
			if (this.isAndroid()) {
				javascript: android.exitActivity();
			} else {
				this.postMessageToIOS({  isCloseWebView: true });
			}
		},
		sendDataToApp: function() {
			if (this.isAndroid()) {
				javascript: android.webViewDidFinishLoading();
			} else {
				this.postMessageToIOS({ webViewDidFinishLoading: true });
			}
		},
		postMessageToIOS: function(data) {
			try {
				window.webkit.messageHandlers.getMessage.postMessage(data)
			} catch (error) {
			}
		},
		jsGetTokenAndDeviceID: function(data) {
			if (data) {
				this.token = data.token;
				let height = data.height;
				localStorage.setItem('paddingTop', height)
				
				if (this.isAndroid()) {
					let title = document.getElementById("title");
					title.style.paddingTop = height + "px";
				} else {
					this.postMessageToIOS({ navTitle: "Cloud Storage Service" });
				}

				this.get_data(this.token);
			}
		},
		get_data: function(token) {
			this.loading = true
			var qs = require('qs');
			let body = {
				'access_token': token,
				'page': 1,
				'page_size': 10
			};
			axios({
				method: 'POST',
				url: this.$store.state.init.base + 'info',
				data: qs.stringify(body)
			}).then((res) => {
				let data = res.data
				if (res.status === 200) {
					this.is_mounted = true
					this.recording_ = data.recording_method
					this.cameras_ = data.camera_type
					this.rent_ = data.rent_durations
					this.auth = data.user_auth
					this.loading = false
					localStorage.setItem('user_token', this.token)

					let y = new Date().getFullYear();
					let m = new Date().getMonth();
					let d = new Date().getDate();
					let h = new Date().getHours();
					let min = new Date().getMinutes();
					let s = new Date().getSeconds();
					this.date = new Date(Date.UTC(y, m, d, h, min, s)).toGMTString()
				} else {
					this.loading = false
					this.snackbar_text = data.msg
				}
			})
		},
		isAndroid: function () {
			let u = navigator.userAgent;
			let isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1

			return isAndroid
		},
		getQueryString: function (name) {
			var location = window.location.href.replace(/\#\//g, ''); // replace the '#'
			var r = location.split('?');

			if (!r[1]) {
				return null;
			}

			var arr = r[1].split('&');
			var paramsArr = [];
			arr.forEach (o => {
				var a = o.split('=');
				paramsArr.push({
					name: a[0],
					value: a[1],
				});
			});

			var val = paramsArr.find(o => o.name === name);
			if (val != null) {
				return unescape(val.value);
			}

			return null;
		},
		history: function() {
			this.$router.push('/cctv/history/?auth='+ this.auth +'&page=1')
		}
	},
	watch: {
		camera_units: function () {
			this.select_camera()
		},
		recording_duration: function () {
			this.set_price()
		},
		trial: function () {
			this.wipe(this.trial)
		}
	},
	computed: {
		/* Checking while data from step 1 is uncomplete, the submit button is disable */
		is_disabled: function () {
			if (this.recording_duration == 0 || this.recording_duration == null || typeof this.camera_units == 'undefined' || this.camera_units.length == 0 || this.rent_time == 0 || this.rent_time == null) {
				return true
			}
			else{
				return false
			}
		},
		total_price: function () {
			this.order_total = this.price * this.camera_units.length
			return util.rupiah(this.price * this.camera_units.length)
		}
	}
}
</script>

<style>
*, html, body {
	font-family: 'Roboto';
}

.text-muted {
	color: #AEAFB1 !important;
}
.noBorder {
	border: unset;
	outline: unset;
}

.bRadius {
	border-radius: 5px !important;
}
.active {
	background-color : #FFECDD !important;
}
.opacity {
	opacity: 0.5;
}
.v-messages {
	display: none;
}

.v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
	margin-bottom: 0 !important;
}

.theme--light.v-label,
.theme--light.v-label div,
.v-list__tile.theme--light,
.v-expansion-panel__header div {
	color: #030303 !important;
	font-weight: 400 !important;
}

.v-list__tile__title {
	color: #030303 !important;
	font-size: 1rem;
}

.btn-big {
	min-height: 4.7rem;
	border-radius: 10px;
}

.v-input__control {
	width: 100% !important;
}

.v-label {
	margin-left: 7.5px;
}
</style>
