<template>
  <div>

		<div class="spinner" v-show="loading">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>

      <!-- THE INVOICE -->
		<v-layout
			v-show="!loading"
			row
			wrap
			fill-width>

			<v-flex xs12>
				<template>
					<div>
						<v-toolbar
							color="#FFFFFF"
							style="border-bottom: 2px solid #E3E3E3;"
							flat
							fixed app id="title">
							<v-toolbar-side-icon @click="back()">
								<v-icon>arrow_back</v-icon>
							</v-toolbar-side-icon>

							<v-toolbar-title style="color: #030303;" class="ml-0">{{ $t('invoice') }}</v-toolbar-title>

							<v-spacer></v-spacer>
						</v-toolbar>
					</div>
				</template>
			</v-flex>

			<v-flex xs6 pt-4 align-center class="mt-4">
				<img src="~/assets/logo-tanaka.png" aspect-ratio="1" />
			</v-flex>

			<v-flex xs6 pt-4 my-auto text-xs-right class="mt-4" v-show="false">
				<v-btn
					outline
					class="text-capitalize"
					@click="print()"
					style="color: #030303 !important; background-color: #FFFFFF !important; border-color: #F29D4D !important; border-radius: 3.5px;">
					<v-icon class="mr-2">print</v-icon> {{ $t('print') }}
				</v-btn>
			</v-flex>

			<v-flex xs12 class="pt-2">
				<template>
					<v-layout row class="text-xs-left">
						<span class="primary--text text--lighten-1 px-0">{{ $t('order_no') }}</span>
					</v-layout>
					<v-layout row class="text-xs-left">
						<span class="text--lighten-1 px-0">{{order_detail.code}}</span>
					</v-layout>
				</template>
			</v-flex>
			
			<v-flex xs12>
				<template>
					<v-layout row class="text-xs-left">
						<span class="primary--text text--lighten-1 px-0">{{ $t('invoice_no') }}</span>
					</v-layout>
					<v-layout row class="text-xs-left">
						<span class="text--lighten-1 px-0">{{order_detail.invoice}}</span>
					</v-layout>
				</template>
			</v-flex>

			<v-flex xs12 v-if="order_detail.payment_method !== 'trial'">
				<template>
					<v-layout row class="text-xs-left">
						<span class="primary--text text--lighten-1 px-0">{{ $t('payment_method') }}</span>
					</v-layout>


					<v-layout row class="text-xs-left" v-if="order_detail.payment_method === 'bca_klikpay'">
						<span class="caption mx-4" style="color: #191921">{{ order_detail.klikpay_code }}</span>
							<v-tooltip bottom>
								<template v-slot:activator="{ on }">
									<v-icon class="caption" v-clipboard="order_detail.klikpay_code" v-on="on">file_copy</v-icon>
								</template>
								<span>{{ $t('copied') }}</span>
							</v-tooltip>
					</v-layout>


					<v-layout row class="text-xs-left" v-else-if="order_detail.payment_method === 'bca_sakuku'"></v-layout>


					<v-layout row class="text-xs-left" v-else>
						<div v-if="order_detail.payment_method === 'transfer'">
							<p class="mb-1">{{ payment_detail.bca.code }}</p>
							
							<span class="body-1" style="color: #191921" >{{ payment_detail.bca.account_number }}</span>
								<v-tooltip bottom>
									<template v-slot:activator="{ on }">
										<v-icon class="caption" v-clipboard="payment_detail.bca.account_number" v-on="on">file_copy</v-icon>
									</template>
									<span>{{ $t('copied') }}</span>
								</v-tooltip>
						</div>
						<div v-else>
							<span class="body-1" style="color: #191921">{{ payment_detail.account_number }}</span>
								<v-tooltip bottom>
									<template v-slot:activator="{ on }">
										<v-icon class="caption" v-clipboard="payment_detail.account_number" v-on="on">file_copy</v-icon>
									</template>
									<span>{{ $t('copied') }}</span>
								</v-tooltip>
						</div>
					</v-layout>


					<v-layout row class="text-xs-left" v-if="order_detail.payment_method === 'transfer'">
						<span class="body-1" style="color: #191921">{{ payment_detail.bca.account_name }}</span>
					</v-layout>


					<v-layout row class="text-xs-left body-1" v-else>
						<span class="body-1" style="color: #191921">{{ payment_detail.account_name }}</span>
					</v-layout>
				</template>
			</v-flex>
			
			<!-- Payment Detail -->
			<v-flex xs12>
				<v-card flat class="mb-2 bRadius" color="#FFFFFF">
					<v-card-text class="ma-0 pa-0">
						<v-list class="mx-0 px-0 py-2">
							<v-list-tile>
								<span class="text-muted">{{ $t('time') }}</span> <v-spacer></v-spacer> {{ date }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile>
								<span class="text-muted">{{ $t('recording_method') }}</span> <v-spacer></v-spacer> {{ order_meta.recording_method_description }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile style="text-align: left;">
								<span class="text-muted">{{ $t('camera_choice') }}</span> <v-spacer></v-spacer> {{ device_name }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile>
								<span class="text-muted">{{ $t('camera_quantity') }}</span> <v-spacer></v-spacer> {{ device_count }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile>
								<span class="text-muted">{{ $t('duration') }}</span> <v-spacer></v-spacer> {{ order_meta.recording_duration_description }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile>
								<span class="text-muted">{{ $t('total') }}</span> <v-spacer></v-spacer> {{ count_total_ammount() }}
							</v-list-tile>
						</v-list>
					</v-card-text>
				</v-card>
			</v-flex>

			<v-flex xs12>
				<div class="pt-3">
					<v-btn color="primary" class="text-capitalize btn-big" block depressed large @click="exit()">{{ $t('close') }}</v-btn>
				</div>
			</v-flex>
		</v-layout>

  </div>
</template>

<script>
import axios from 'axios'
import vuex from 'vuex'
import util from '~/assets/js/util'

export default {
    data() {
        return {
			date: '',
			order: localStorage.getItem('order') ? JSON.parse(localStorage.getItem('order')) : '',
			order_detail: {},
			payment_detail: {},
			product_detail: {},
			order_meta: {},
			device_name: '',
			device_count: 0,
			loading: false
        }
	},
	mounted () {
		this.loading = true
		let code = this.$route.query.order

		return axios.get(
				this.$store.state.init.base + 'info/cctv_order/?id='+code
			).then(( { data } ) => {
				let date = data.date_added;
				let arr = date.split(" ");
				let x = new Date(arr[0]);
				
				this.date = x.toDateString() + ' ' + arr[1] + ' GMT',
				this.order_detail = data,
				this.payment_detail = data.payment_to ? JSON.parse(data.payment_to) : '',
				this.product_detail = JSON.parse(data.product_detail),
				this.order_meta = JSON.parse(data.order_meta)
				this.device_name = this.order_meta.device_name.toString()
				this.device_count = this.order_meta.device_id.length
				this.loading = false

				let height = localStorage.getItem('paddingTop')
				this.setHeight(height)
			})
		
		if ($nuxt.isOffline) {
			if (this.isAndroid) {
				javascript: android.gotoLoginActivity();
			} else {
				this.postMessageToIOS({ gotoLoginActivity: true })
			}
		}
	},
    methods: {
		back: function () {
			this.$router.back()
		},
		exit: function () {
			localStorage.clear()
			if (this.isAndroid()) {
				javascript: android.exitActivity();
			} else {
				this.postMessageToIOS({  isCloseWebView: true });
			}
		},
		postMessageToIOS: function(data) {
			try {
				window.webkit.messageHandlers.getMessage.postMessage(data)
			} catch (error) {
			}
		},
		setHeight: function(height) {
			if (this.isAndroid()) {
				let title = document.getElementById("title");
				title.style.paddingTop = height + "px";
			} else {
				this.postMessageToIOS({ navTitle: "Cloud Storage Service" });
			}
		},
		isAndroid: function () {
			let u = navigator.userAgent;
			let isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1

			return isAndroid
		},
        count_total_ammount: function() {
			let price = Number(this.order_detail.total)
			let unique_code = Number(this.order_detail.unique_code)
			let total_plus_code = price + unique_code;

            if (this.order_detail.payment_method === 'transfer') {
				return util.rupiah(total_plus_code)
			} else {
				return util.rupiah(price)
			}
		},
		print: function () {
			window.print()
		}
    }
}
</script>

<style>

</style>