<template>
    <div>

        <div class="spinner" v-show="loading">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>

		<v-layout
			row
			wrap
			fill-width
			mt-2
            v-show="!loading">
			<v-flex xs12>
				<template>
					<div>
						<v-toolbar
							color="#FFFFFF"
							style="border-bottom: 2px solid #E3E3E3;"
							flat
							fixed app id="title">
							<v-toolbar-side-icon @click="back()">
                                <v-icon>arrow_back</v-icon>
							</v-toolbar-side-icon>

							<v-toolbar-title style="color: #030303;" class="ml-0">{{ $t('payment') }}</v-toolbar-title>

							<v-spacer></v-spacer>
						</v-toolbar>
					</div>
				</template>
			</v-flex>
			
			<v-flex xs12 class="mt-4">
				<template>
					<v-subheader class="primary--text text--lighten-1 pa-0 ma-0">{{ $t('choose_payment_method') }}</v-subheader>
					<v-expansion-panel class="noBorder bRadius" style="box-shadow: unset;">
						
						<v-expansion-panel-content v-for="payment in payment_list_" :key="payment.id">
							<template v-slot:header>
								<div class="text-capitalize">{{ payment.label }}</div>
							</template>

							<v-card flat class="bRadius" color="#FFFFFF">
								<v-card-text class="py-0">
									<v-list flat class="py-0">
										<v-list-tile v-for="payment_type in payment.type" :key="payment_type.id" @click="select_payment_method(payment_type.label)">
											<v-list-tile-title class="ml-5 text-capitalize">{{ payment.label == 'Kartu Kredit' ? payment_type.description : payment_type.title }}</v-list-tile-title>
										</v-list-tile>
									</v-list>
								</v-card-text>
							</v-card>

						</v-expansion-panel-content>

					</v-expansion-panel>

					<v-dialog v-model="dialog" persistent max-width="600px">
						<v-card>
							<v-card-text>
								<v-form class="mx-3 py-4" id="payment-form">
									<v-flex xs12>
										<v-text-field type="text" :label="$t('name')" id="customer-name" :placeholder="$t('input_name_label')" :rules="requiredRules" v-model="customer_name"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="email" :label="$t('email')" id="customer-email" placeholder=" " :rules="requiredRules" v-model="customer_email"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="text" :label="$t('phone')" id="customer-phone-number" placeholder=" " :rules="requiredRules" v-model="customer_phone"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="text" :label="$t('address')" id="customer-address" placeholder=" " :rules="requiredRules" v-model="customer_address"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="text" :label="$t('province')" id="customer-province" placeholder=" " :rules="requiredRules" v-model="customer_province"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="text" :label="$t('city')" id="customer-city" placeholder=" " :rules="requiredRules" v-model="customer_city"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="number" :label="$t('postcode')" id="customer-postcode" placeholder=" " :rules="requiredRules" v-model="customer_postcode"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="text" :label="$t('district')" id="customer-distric" placeholder=" " :rules="requiredRules" v-model="customer_district"></v-text-field>
									</v-flex>
								</v-form>
							</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn flat @click="dialog = false">{{ $t('close') }}</v-btn>
								<v-btn color="primary" flat @click="submit_credit_card()">{{ $t('submit') }}</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
				</template>
			</v-flex>

			<v-flex xs12>
				<div class="pt-5">
					<v-btn
						color="primary"
						class="text-capitalize btn-big"
						block
						depressed
						@click="exit()">{{ $t('cancel') }}</v-btn>
				</div>
			</v-flex>
		</v-layout>

		<v-snackbar
			v-model="snackbar"
			color="primary"
			multi-line
			:timeout="timeout">
			{{ snackbar_text }}
			<v-btn
				dark
				flat
				@click="snackbar = false">
				{{ $t('close') }}
			</v-btn>
		</v-snackbar>

    </div>
</template>

<script>
import axios from 'axios'
import vuex from 'vuex'
import util from '~/assets/js/util'


export default {
    data () {
        return {
            payment_list_: [],
			payment_method: '',
			dialog: false,
			customer_name: '',
			customer_email: '',
			customer_phone: '',
			customer_address: '',
			customer_province: '',
			customer_city: '',
			customer_postcode: '',
			customer_district: '',
			loading: false,

			timeout: 5000,
			snackbar: false,
			snackbar_text: '',

			requiredRules: [
      			v => !!v || 'This Field is required'
    		]
        }
    },
    mounted () {
		this.loading = true

    	this.do_query(false, 'info/payment_list', {}).then(({ data }) => {
			this.loading = false
			this.payment_list_ = data.payment_list
			let height = Number(localStorage.getItem('paddingTop'))
			this.setHeight(height)
		})

		if ($nuxt.isOffline) {
			if (this.isAndroid()) {
				javascript: android.gotoLoginActivity();
			} else {
				this.postMessageToIOS({ gotoLoginActivity: true })
			}
		}
    },
    methods: {
		isAndroid: function () {
			let u = navigator.userAgent;
			let isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1

			return isAndroid
		},
		back: function () {
			this.$router.back()
		},
		exit: function () {
			if (this.isAndroid()) {
				javascript: android.exitActivity();
			} else {
				this.postMessageToIOS({  isCloseWebView: true });
			}
		},
		postMessageToIOS: function(data) {
			try {
				window.webkit.messageHandlers.getMessage.postMessage(data)
			} catch (error) {
			}
		},
		setHeight: function(height) {
			if (this.isAndroid()) {
				let title = document.getElementById("title");
				title.style.paddingTop = height + "px";
			} else {
				this.postMessageToIOS({ navTitle: "Cloud Storage Service" });
			}
		},
		submit_credit_card: function () {
			if (this.customer_name === '' || this.customer_email === '' || this.customer_phone === '' || this.customer_address === '' || this.customer_province === '' || this.customer_city === '' || this.customer_postcode === '' || this.customer_district === '') {
				this.snackbar = true,
				this.snackbar_text = 'Please fill all field'
			} else {
				let order = JSON.parse(localStorage.getItem('order'))

				let body = {
					"recording_method": order.recording_method,
					"recording_method_description": order.recording_method_description,
					"device_ids": order.device_ids,
					"device_name": order.device_name,
					"recording_duration": order.recording_duration,
					"recording_duration_description": order.recording_duration_description,
					"payment_method": this.payment_method,
					"customer_id": localStorage.getItem('user_token'),
					"order_total": order.order_total,
					"customer_name": this.customer_name,
					"email": this.customer_email,
					"phone": this.customer_phone,
					"address": this.customer_address,
					"province": this.customer_province,
					"city": this.customer_city,
					"postcode": this.customer_postcode,
					"district": this.customer_district
				}

				this.do_query(true, 'payment/process', body).then ( ({ data }) => {
					if (data.success === 1) {
						window.location.href = data.payment_detail.payment_url
					} else {
						console.log('error during post data')
					}
				}).catch(( err ) => {
					console.log(err)
				})
			}
		},
        select_payment_method: function (code) {
			this.payment_method = code
			this.post_data_cctv()
        },
        post_data_cctv: function () {
			this.loading = true
			let order = JSON.parse(localStorage.getItem('order'))

            let body = {
				"recording_method": order.recording_method,
				"recording_method_description": order.recording_method_description,
				"device_ids": order.device_ids,
				"device_name": order.device_name,
				"recording_duration": order.recording_duration,
				"recording_duration_description": order.recording_duration_description,
				"payment_method": this.payment_method,
				"access_token": localStorage.getItem('user_token'),
				"order_total": order.order_total,
			}

			if (this.payment_method === 'credit_card' || this.payment_method === 'creaditcard01' || this.payment_method === 'creditcard03' || this.payment_method === 'creditcard06' || this.payment_method === 'creditcard12') {
				this.dialog = true
				this.loading = false
			} else {
				this.do_query(true, 'payment/process', body).then ( ({ data }) => {
					if (data.success === 1) {
						this.set_payment_result(data)
					} else {
						alert('error during post data')
					}
				}).catch(( err ) => {
					alert(err)
				})
			}
		},
		set_payment_result: function (data) {
			this.loading = false
			if (data.payment_detail.payment_url) {
				window.location = data.payment_detail.payment_url
			} else {
				localStorage.removeItem('order')
				localStorage.removeItem('user_token')
				this.$router.push('/cctv/payment_detail?order=' + data.order_data.order.code)
			}
		},
		do_query (is_post, method, body) {
			let header_data = {
				crossDomain: true,
				headers: {
					"Content-Type": "application/json",
					"Access-Control-Allow-Origin": "*",
					"Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
					"Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
				},
				timeout: 0
			}
			var qs = require('qs')
			if (is_post) {
				return axios({
					method: 'POST',
					url: this.$store.state.init.base + method,
					data: qs.stringify(body)
				})
			} else {
				return axios.get( this.$store.state.init.base + method, body, header_data )
			}
		}
    }
}
</script>

<style>

</style>