<template>
    <div>

		<div class="spinner" v-show="loading">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>

        <v-layout
			row
			wrap
			fill-width
			mt-2
			v-show="!loading">
			<v-flex xs12>
				<template>
					<div>
						<v-toolbar
							color="#FFFFFF"
							style="border-bottom: 2px solid #E3E3E3;"
							flat
							fixed app id="title">
							<v-toolbar-side-icon @click="exit()">
								<v-icon>arrow_back</v-icon>
							</v-toolbar-side-icon>

							<v-toolbar-title style="color: #030303;" class="ml-0">{{ $t('payment_detail') }}</v-toolbar-title>

							<v-spacer></v-spacer>
						</v-toolbar>
					</div>
				</template>
			</v-flex>

			<v-flex xs12 class="mt-4">
				<v-card flat class="mb-2 bRadius" color="#FFFFFF">
					<v-card-text class="pa-0 mt-auto">
						<v-list two-line dense>
							<v-list-tile avatar>
								<v-list-tile-content>
									<v-list-tile-sub-title>{{ $t('order_no') }}</v-list-tile-sub-title>
									<v-list-tile-title class="subheading primary--text text--lighten-1 px-0">{{ order_detail.code }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							
							<v-list-tile avatar v-if="order_detail.payment_method !== 'trial'">
								<v-list-tile-content>
									<v-list-tile-sub-title>{{ $t('payment_method') }}</v-list-tile-sub-title>
									<v-list-tile-title class="subheading primary--text text--lighten-1 px-0">{{ order_detail.title }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
						</v-list>
					</v-card-text>
				</v-card>
			</v-flex>

			<v-flex xs12 v-if="order_detail.payment_method !== 'trial'">
				<v-card flat class="mb-2 bRadius" color="#FFFFFF">
					<v-card-text class="px-0">
						<!--  -->
						<v-flex xs12 text-xs-center v-if="order_detail.payment_method === 'bca_klikpay'">
							<p class="mb-0">{{ $t('klikpay_code') }} :</p>
							<span class="body-1" style="color: #191921;">{{ payment_detail.klikpay_code }}</span>
							<v-tooltip bottom>
								<template v-slot:activator="{ on }">
									<v-icon class="caption" v-clipboard="payment_detail.klikpay_code" v-on="on">file_copy</v-icon>
								</template>
								<span>{{ $t('copied') }}</span>
							</v-tooltip>
						</v-flex>
						<!--  -->
						<v-flex xs12 text-xs-center v-else-if="order_detail.payment_method === 'bca_sakuku'">
							
						</v-flex>
						<!--  -->
						<v-flex xs12 text-xs-center v-else>
							<p class="mb-0">{{ $t('bank_account_no') }} :</p>
							<div v-if="order_detail.payment_method === 'transfer'">
								<p>{{ payment_detail.bca.code }}</p>
								<span class="body-1" style="color: #191921" >{{ payment_detail.bca.account_number }}</span>
								<v-tooltip bottom>
									<template v-slot:activator="{ on }">
										<v-icon class="caption" v-clipboard="payment_detail.bca.account_number" v-on="on">file_copy</v-icon>
									</template>
									<span>{{ $t('copied') }}</span>
								</v-tooltip>
							</div>
							<div v-else>
								<span class="body-1" style="color: #191921">{{ payment_detail.account_number }}</span>
								<v-tooltip bottom>
									<template v-slot:activator="{ on }">
										<v-icon class="caption" v-clipboard="payment_detail.account_number" v-on="on">file_copy</v-icon>
									</template>
									<span>{{ $t('copied') }}</span>
								</v-tooltip>
							</div>
						</v-flex>

						<v-flex xs12 text-xs-center>
							<span class="body-1" v-if="order_detail.payment_method === 'transfer'" style="color: #191921">{{ payment_detail.bca.account_name }}</span>
							<span class="body-1" v-else style="color: #191921">{{ payment_detail.account_name }}</span>
						</v-flex>
						<v-flex xs12 text-xs-center>
							<span class="title primary--text text--lighten-1 px-0">{{ count_total_ammount() }}</span>
						</v-flex>

						<v-divider class="my-4"></v-divider>

						<v-flex xs12 text-xs-center>
							<p class="mb-0">{{ $t('due_date_warning') }} :</p>
							<span class="body-1" style="color: #191921"><kbd>{{ order_detail.due_date }}</kbd></span>
						</v-flex>
					</v-card-text>
				</v-card>
			</v-flex>

			<v-flex xs12>
				<v-card flat class="mb-2 bRadius" color="#FFFFFF">
					<v-card-text class="ma-0 pa-0">
						<v-list class="mx-0 px-0 py-2">
							<v-list-tile>
								<span class="text-muted">{{ $t('time') }}</span> <v-spacer></v-spacer> {{ date }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile>
								<span class="text-muted">{{ $t('recording_method') }}</span> <v-spacer></v-spacer> {{ order_meta.recording_method_description }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile style="text-align: left;">
								<span class="text-muted">{{ $t('camera_choice') }}</span> <v-spacer></v-spacer> {{ device_name }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile>
								<span class="text-muted">{{ $t('camera_quantity') }}</span> <v-spacer></v-spacer> {{ device_count }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile>
								<span class="text-muted">{{ $t('duration') }}</span> <v-spacer></v-spacer> {{ order_meta.recording_duration_description }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile>
								<span class="text-muted">{{ $t('total') }}</span> <v-spacer></v-spacer> {{ count_total_ammount() }}
							</v-list-tile>
						</v-list>
					</v-card-text>
				</v-card>
			</v-flex>

			<v-flex xs12>
				<div class="pt-3">
					<v-btn color="primary" class="text-capitalize btn-big" block depressed large @click="go_to_invoice()">{{ $t('to_invoice') }}</v-btn>
				</div>
			</v-flex>
		</v-layout>

    </div>
</template>

<script>
import axios from 'axios'
import vuex from 'vuex'
import util from '~/assets/js/util'

export default {
    data() {
        return {
            date: '',
            order: localStorage.getItem('order') ? JSON.parse(localStorage.getItem('order')) : '',
			order_detail: {},
			payment_detail: {},
			order_meta: {},
			device_name: '',
			device_count: 0,
			loading: false
        }
	},
	mounted () {
		this.loading = true
		let code = this.$route.query.order

		return axios.get(
			this.$store.state.init.base + 'info/cctv_order/?id='+code
			).then(( { data } ) => {
				this.loading = false
				let date = data.date_added;
				// let arr = date.split(/[:.\ *+-/_]/);
				let arr = date.split(" ");
				let x = new Date(arr[0]);
				
				// this.date = new Date(Date.UTC(arr[0], arr[1], arr[2], arr[3], arr[4], arr[5])).toGMTString(),


				this.date = x.toDateString() + ' ' + arr[1] + ' GMT',
				this.order_detail = data,
				this.payment_detail = data.payment_to ? JSON.parse(data.payment_to) : '',
				this.product_detail = JSON.parse(data.product_detail)
				
				this.order_meta = JSON.parse(data.order_meta)
				this.device_name = this.order_meta.device_name.toString()
				this.device_count = this.order_meta.device_id.length

				let height = localStorage.getItem('paddingTop')
				this.setHeight(height)
			})

		if ($nuxt.isOffline) {
			if (this.isAndroid()) {
				javascript: android.gotoLoginActivity();
			} else {
				this.postMessageToIOS({ gotoLoginActivity: true })
			}
		}
	},
	methods: {
		isAndroid: function () {
			let u = navigator.userAgent;
			let isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1

			return isAndroid
		},
		exit: function () {
			localStorage.clear()
			if (this.isAndroid()) {
				javascript: android.exitActivity();
			} else {
				this.postMessageToIOS({  isCloseWebView: true });
			}
		},
		postMessageToIOS: function(data) {
			try {
				window.webkit.messageHandlers.getMessage.postMessage(data)
			} catch (error) {
			}
		},
		setHeight: function(height) {
			if (this.isAndroid()) {
				let title = document.getElementById("title");
				title.style.paddingTop = height + "px";
			} else {
				this.postMessageToIOS({ navTitle: "Cloud Storage Service" });
			}
		},
        count_total_ammount: function() {
			let price = Number(this.order_detail.total)
			let unique_code = Number(this.order_detail.unique_code)
			let total_plus_code = price + unique_code;

            if (this.order_detail.payment_method === 'transfer') {
				return util.rupiah(total_plus_code)
			} else {
				return util.rupiah(price)
			}
		},
		go_to_invoice: function () {
			this.$router.push('/cctv/invoice/?order=' + this.$route.query.order)
		}
	},
	computed: {
		
	}
}
</script>