<template>
	<div>

		<div class="spinner" v-show="loading">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>

		<!-- FIRST STEP (FILL THE DATA) -->
		<v-layout v-show="is_mounted" justify-center>
			<v-flex xs8 style="">
				<img src="~/assets/empty_product.png" style="margin-bottom: 20px; margin-top: 24px; width: 100%;"/>
			</v-flex>
		</v-layout>

		<v-layout
			row wrap
			fill-width
			v-show="!loading && !is_mounted"
			justify-center>
			<v-flex xs12>
				<template>
					<div>
						<v-toolbar
							color="#FFFFFF"
							style="border-bottom: 2px solid #E3E3E3;"
							flat
							fixed app>
							<v-toolbar-side-icon @click="back()">
								<v-icon color="#A7C22A">arrow_back</v-icon>
							</v-toolbar-side-icon>

							<v-toolbar-title style="color: #A7C22A;" class="ml-0 hidden-sm-and-up">History</v-toolbar-title>

							<v-toolbar-title class="hidden-xs-only">
								<img src="https://tokomanamana.com/files/images/logo.png">
							</v-toolbar-title>

							<v-spacer></v-spacer>
						</v-toolbar>
					</div>
				</template>
			</v-flex>

			<v-flex sm8 offset-2
				align-self-center
				class="mt-4 mb-1">
				<p style="color: #999; text-transform: uppercase; font-weight: 400; font-size: 18px;" class="text-xs-left">Riwayat Pesanan</p>
			</v-flex>
			<v-flex sm8 xs12 offset-2 
				align-self-center 
				class=""
				v-for="record in records_" 
				:key="record.date_added"
				style="border-bottom: 1px solid #EEE; font-size 13px;">
				<v-layout 
					align-start
					justify-center
					row
					wrap
					class=""
					style="background-color: #FAFAFA; padding: 18px 18px 6px 18px;">
					<v-flex sm4 xs12 class="text-xs-left">
						<div style="font-size: 12px; color: #999;">No Tagihan</div>
						<div style="font-size: 13px; color: #333;">{{ record.code }}</div>
						<div style="font-size: 12px; color: #999;">{{ record.date_added }}</div>
					</v-flex>
					<v-flex sm3 xs12 class="text-xs-left">
						<div style="font-size: 12px; color: #999;">Total</div>
						<div style="font-size: 13px; color: #333;">{{ record.payment_method === 'transfer' ? rupiah(record.total_plus_kode) : rupiah(record.total) }}</div>
					</v-flex>
					<v-flex sm5 xs12 class="text-xs-left">
						<v-layout row wrap style="width: 100%; vertical-align: top; margin-right: auto;">
							<v-flex sm6 xs12>
								<div style="font-size: 12px; color: #999;">Status Tagihan</div>
								<div>
									<span><span :class="(record.payment_status === 'Expired' || record.payment_status === 'Failed') ? 'red--text' : ''">{{ record.payment_status }}</span></span>
								</div>
							</v-flex>
							<v-flex sm6 xs12 v-if="record.payment_status === 'Pending'">
								<div style="font-size: 12px; color: #999;">Jatuh Tempo</div>
								<div style="font-size: 12px; color: #999;">{{ record.due_date }}</div>
							</v-flex>
							<v-flex v-else-if="record.payment_status === 'Paid'">
								<div style="font-size: 12px; color: #999;">Tanggal Pembayaran</div>
								<div style="font-size: 12px; color: #999;">{{ record.payment_date }}</div>
							</v-flex>
						</v-layout>
					</v-flex>
				</v-layout>
				<v-layout align-start
					justify-center
					row
					wrap
					style="padding: 6px 18px 18px 18px;">
					<v-flex sm4 xs12 class="text-xs-left">
						<div style="font-size: 12px; color: #999;">Produk</div>
						<div style="font-size: 12px; color: #333;">{{ record.product_detail ? JSON.parse(record.product_detail).Produk : '' }}</div>
						<div style="font-size: 12px; color: #999;"><span>Chip ID: </span>{{ record.product_detail ? JSON.parse(record.product_detail).Chipid : '' }}</div>
					</v-flex>	
					<v-flex sm3 xs12 class="text-xs-left">
						<div style="font-size: 12px; color: #999;">Metode Pembayaran</div>
						<div style="font-size: 12px; color: #333;">{{ record.title }}</div>
					</v-flex>	
					<v-flex sm5 xs12 class="text-xs-left">
						<div style="font-size: 12px; color: #999;">Detail Pembayaran</div>
						<div style="font-size: 12px; color: #999;"
							v-if="record.payment_method === 'transfer'">
							<div v-if="record.payment_to !== ''">
								<div>{{ JSON.parse(record.payment_to).bca.account_number }}</div>
								<div>{{ JSON.parse(record.payment_to).bca.account_name }}</div>
							</div>
						</div>
						<div style="font-size: 12px; color: #999;"
							v-else-if="record.payment_method === 'bca_va' || record.payment_method === 'mandiri_va' || record.payment_method === 'bni_va' || record.payment_method === 'bri_va' || record.payment_method === 'alfamart'">
							<div v-if="record.payment_to !== ''">
								<div>{{ JSON.parse(record.payment_to).account_number }}</div>
								<div>{{ JSON.parse(record.payment_to).account_name }}</div>
							</div>
						</div>
					</v-flex>	
				</v-layout>
			</v-flex>

			<v-flex xs12>
				<template>
					<div class="text-xs-center">
						<v-pagination
							v-model="current_page" 
							:length="page_count"
							:total-visible="5"
							@input="onPageChange(current_page)"
							color="#A7C22A"></v-pagination>
					</div>
				</template>
			</v-flex>
		</v-layout>

		<v-snackbar
			v-model="snackbar"
			color="primary"
			multi-line
			:timeout="timeout">
			{{ snackbar_text }}
			<v-btn
				dark
				flat
				@click="snackbar = false">
				Close
			</v-btn>
		</v-snackbar>
		
	</div>
</template>

<script>

import axios from 'axios'
import vuex from 'vuex'
import util from '~/assets/js/util'

export default {
	data() {
		return {
            records_: {},
			timeout: 5000,
			snackbar: false,
			snackbar_text: '',
			is_mounted: false,
			loading: false,
			page_count: 1,
			current_page: 0,
			length: 5
		}
	},
	mounted() {
		this.loading = true
		let page = this.$route.query.page
		this.setPageNumbers(page)
	},
	methods: {
		back: function () {
			let page = Number(this.$route.query.page)
			if (page > 1) {
				let user = this.$route.query.user
				let prev = page - 1
				this.$router.push('/app_data/history/?user='+ user +'&page='+ prev)
				this.setPageNumbers(prev)
			} else if (page === 1){
				this.$router.push('/app_data/')
			}
		},
		rupiah: function (x) {
			return util.rupiah(x)
		},
		do_query: function (url, body) {
			this.loading = true
			var qs = require('qs')
	        return axios({
				method: 'POST',
				url: this.$store.state.init.base + url,
				data: qs.stringify(body)
	        })
		},
		setPageNumbers: function (pagenumber) {
			let user = this.$route.query.user
			let start = 0
			
			if (pagenumber === '1') {
				start = 0
			} else {
				start = (Number(pagenumber) - 1) * Number(this.length)
			}
			
			if (user === undefined) {
				this.loading = false
				this.is_mounted = true
				this.snackbar_text = 'Invalid User ID'
				this.snackbar = true
			} else {
				let body = {
					'user': user,
					'start': start,
					'length': this.length,
					'page': pagenumber
				};

				this.do_query('info/voucher_history', body).then(res => {
					let data = res.data
					this.is_mounted = false
					this.records_ = data.order
					this.page_count = data.total_page
					this.current_page = data.page
					this.loading = false
				})
			}
		},
		onPageChange: function(page) {
			let user = this.$route.query.user
			this.$router.push('/app_data/history/?user='+ user +'&page='+ page)
			this.setPageNumbers(page)
		}
	},
	watch: {
		
	}
}
</script>