<template>
	<div>

		<v-layout row wrap v-show="loading">
			<v-flex xs12 >
				<div class="spinner" >
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</v-flex>
		</v-layout>
		

		<!-- FIRST STEP (FILL THE DATA) -->

		<v-layout
			row wrap
			fill-width
			v-show="!loading">
			<v-flex xs12>
				<template>
					<div>
						<v-toolbar
							color="#FFFFFF"
							style="border-bottom: 1px solid #E3E3E3;"
							flat
							fixed app>

							<v-toolbar-title style="color: #A7C22A;" class="ml-0 hidden-sm-and-up">Beli Voucher</v-toolbar-title>

							<v-toolbar-title class="hidden-xs-only">
								<img src="https://tokomanamana.com/files/images/logo.png">
							</v-toolbar-title>

							<v-spacer></v-spacer>

							<v-menu bottom left v-if="user_id !== ''">
								<template v-slot:activator="{ on }">
									<v-btn icon v-on="on">
										<v-icon>more_vert</v-icon>
									</v-btn>
								</template>

								<v-list>
									<v-list-tile style="cursor: pointer;">
										<v-list-tile-title @click="history()">Lihat Riwayat Pembelian</v-list-tile-title>
									</v-list-tile>
								</v-list>
							</v-menu>
						</v-toolbar>
					</div>
				</template>

				<v-flex md12 class="hidden-xs-only my-2">
					<v-stepper style="box-shadow: unset !important;">
						<v-stepper-header style="box-shadow: unset !important;">
							<v-stepper-step step="1" color="#A7C22A" complete>
								Pilih Chip ID
							</v-stepper-step>
							<v-stepper-step step="2" color="#A7C22A">
								Pilih Paket
							</v-stepper-step>
							<v-stepper-step step="3" color="#A7C22A">
								Pilih Metode Pembayaran
							</v-stepper-step>
							<v-stepper-step step="4" color="#A7C22A">
								Selesai
							</v-stepper-step>
						</v-stepper-header>
					</v-stepper>

					<v-spacer></v-spacer>

					<v-divider></v-divider>
				</v-flex>
			</v-flex>
		</v-layout>

		<v-layout 
			row 
			wrap 
			v-show="!loading && user_id !== ''" 
			justify-center
			class="hidden-sm-and-up">
			<v-flex xs12
				style="margin-top: 24px">
				<div style="border-radius: 6px; padding: 2em; border: 1px solid #eceaea;">
					<v-layout row wrap>
						<v-flex xs12 style="margin-bottom: 12px">
							<h3>Masukkan Chip ID</h3>
						</v-flex>

						<v-flex xs12>
							<v-text-field label="Chip ID*" color="#A7C22A" v-model="chip_id_model" :rules="requiredRules"></v-text-field>
						</v-flex>
						
						<v-flex xs12>
							<v-btn :disabled="disabled" style="border-radius: 4px;" flat outline @click="submit_chip_id()" color="#A7C22A">lanjutkan</v-btn>
						</v-flex>
					</v-layout>
				</div>
			</v-flex>

			<v-flex xs12 
				style="margin-top: 12px" 
				v-if="chip_id_list.length > 0">
				<p>atau pilih Chip ID di bawah ini</p>
				<v-alert :value="true"
					v-for="(c, i) in chip_id_list" :key="'chip_id_' + i"
					v-bind:class="{ active : select_chip === c.chip_id }"
					style="background-color: #FFFFFF !important; color: #424242; letter-spacing: 1.5px; text-align: left; border-width: 1px; border-color: #eceaea; cursor: pointer;"
					class="text-truncate my-0">
					{{ c.chip_id }}
					<v-radio-group style="width: 45px;height: 45px;margin: 0px !important;position: absolute;top: 0;right: 0;padding: 0px !important;" v-model="select_chip">
						<v-radio off-icon="$vuetify.icons.checkboxOff" 
							on-icon="$vuetify.icons.checkboxOn" 
							color="#A7C22A"
							:label="c.chip_id"
							:value="c.chip_id"
							style="color: rgb(189, 189, 189); margin: 0 !important;width: 25px;height: 25px;position: absolute;right: 0;"></v-radio>
					</v-radio-group>
				</v-alert>
				<v-btn
					:disabled="!select_chip"
					color="#222"
					block
					style="color: #FFF; font-weight: lighter; letter-spacing: 1px; height: 46px;"
					class="mt-3"
					@click="select_chip_id()">selanjutnya</v-btn>
			</v-flex>
		</v-layout>

		<v-layout row wrap 
			justify-center
			class="hidden-xs-only" 
			style="margin-top: 24px;">
			<v-flex sm6 
				class="mb-3 pa-5" 
				style="border-radius: 6px; padding: 2em; border: 1px solid #eceaea;">
				<h3>Masukkan Chip ID</h3>
				<v-layout row 
					align-baseline 
					justify-center 
					class="mt-2">
					<v-flex sm8 grow>
						<v-text-field label="Chip ID*"  
							color="#A7C22A"
							hide-details
							v-model="chip_id_model"
							:rules="requiredRules"></v-text-field>
					</v-flex>
					<v-flex sm4 shrink>
						<v-btn depressed
							color="#A7C22A"
							:disabled="disabled"
							style="color: #FFFFFF;"
							@click="submit_chip_id()">lanjutkan</v-btn>
					</v-flex>
				</v-layout>

				<div v-if="chip_id_list.length > 0" class="mt-3">
					<span>atau</span>
					<v-btn block 
						@click="showchip = !showchip" 
						color="#A7C22A"
						style="color: #FFFFFF; font-weight: normal; letter-spacing: 1px;">Pilih chip</v-btn>
					<v-alert :value="showchip"
						v-for="(c, i) in chip_id_list" :key="'chip_id_' + i"
						style="background-color: #FFFFFF !important; color: #424242; letter-spacing: 2px; text-align: left; border-width: 1px; border-color: #eceaea; cursor: pointer;"
						class="text-truncate my-0"
						v-bind:class="{ active : select_chip === c.chip_id }">
						{{ c.chip_id }}
						<v-radio-group style="width: 45px;height: 45px;margin: 0px !important;position: absolute;top: 0;right: 0;padding: 0px !important;" v-model="select_chip">
							<v-radio off-icon="$vuetify.icons.checkboxOff" 
								on-icon="$vuetify.icons.checkboxOn" 
								color="#A7C22A"
								:label="c.chip_id"
								:value="c.chip_id"
								style="color: rgb(189, 189, 189); margin: 0 !important;width: 25px;height: 25px;position: absolute;right: 0;"></v-radio>
						</v-radio-group>
					</v-alert>
					<v-btn
						:disabled="!select_chip"
						v-show="showchip"
						color="#222"
						block
						style="color: #FFF; font-weight: lighter; letter-spacing: 1px;"
						class="mt-3"
						@click="select_chip_id()">selanjutnya</v-btn>
				</div>
			</v-flex>
		</v-layout>


		<v-layout 
			row 
			wrap 
			style="margin-top: 3em;" 
			v-show="!loading && user_id === ''">
			<v-flex xs12 >
				<h3 style="margin-bottom: 12px">Silahkan login terlebih dahulu</h3>
				<p :style="'color: ' + $vuetify.theme.error">{{snackbar_text}}</p>
				<v-btn color="#A7C22A" outline style="border-radius: 4px" @click="login()" large>login</v-btn>
			</v-flex>
		</v-layout>

		<OrderTemp/>
		
		<v-snackbar
			v-model="snackbar"
			color="#A7C22A"
			multi-line
			:timeout="timeout">
			{{ snackbar_text }}
			<v-btn
				dark
				flat
				@click="snackbar = false">
				Tutup
			</v-btn>
		</v-snackbar>

	</div>
</template>

<script>

import axios from 'axios'
import vuex from 'vuex'
import OrderTemp from '~/components/OrderTemp.vue'

export default {
	data() {
		return {
			user_id: '',
			chip_id_model: '',
			chip_id_list: [],
			timeout: 5000,
			snackbar: false,
			snackbar_text: '',
			loading: false,
			requiredRules: [
      			v => !!v || 'This Field is required'
			],
			showchip: false,
			select_chip: false
		}
	},
	mounted() {
		this.loading = true
		let query = this.$route.query.user

		if (query === undefined || query === '') {
			let ls_usercode = localStorage.getItem('user_code')

			if (ls_usercode) {
				this.user_id = ls_usercode
				this.get_info(this.user_id)
			} else {
				this.loading = false
				this.user_id = ''
			}
		} else {
			this.user_id = query
			this.get_info(this.user_id)
		}
	},
	methods: {
		get_info (id) {
			let body = {
				'code': id
			}
			this.do_query('voucher', body).then(res => {
				let data = res.data
				if (data.success === 1) {
					localStorage.setItem('user_code', this.user_id)
					localStorage.removeItem('chip_id')
					this.get_list_chip_id()
					this.check_order_temp()
					this.loading = false
				} else {
					this.loading = false
					this.snackbar = true
					this.snackbar_text = data.msg
				}
			})
		},
		history () {
			this.loading = true
			let query = this.$route.query.user
			this.$router.push('/app_data/history/?user='+this.user_id+'&page=1')
		},
		check_order_temp () {
			let body = {
				'code': this.user_id
			}
			this.do_query('voucher/check_order_temp', body).then(res => {
				let data = res.data
				this.loading = false
				if (data.data !== null && data.data !== undefined) {
					if (data.data.length > 0) {
						this.$store.commit('order/push_order', data.data)
						this.$store.commit('order/change_show_order', 1)
					}
				}
			}).catch(err => {
				this.loading = false
				this.snackbar_text = err
			})
		},
		select_chip_id () {
			let chip = this.select_chip
			localStorage.setItem('chip_id', chip)
			this.$router.push('/app_data/paket')
		},
		submit_chip_id () {
			if (this.chip_id_model !== '') {
				let body = {
					'code': this.user_id,
					'chip_id': this.chip_id_model
				}
				this.do_query('voucher/save_chip_id', body).then(res => {
					let data = res.data
					if (data.success === 1) {
						this.loading = false
						localStorage.setItem('chip_id', this.chip_id_model)
						this.$router.push('/app_data/paket')
					} else {
						this.loading = false
						this.snackbar_text = data.msg
					}
				}).catch((err) => {
					this.loading = false
					this.snackbar_text = err
				})
			}
		},
		login () {
			window.location = 'https://tokomanamana.com/member/login'
		},
		get_list_chip_id () {
			let body = {
				'code': this.user_id
			}
			this.do_query('voucher/chip_id_list', body).then(res => {
				let data = res.data
				this.loading = false
				if (data.success === 1) {
					this.chip_id_list = data.data
				} else {
					this.snackbar_text = data.msg
					this.snackbar = true
				}
			}).catch((err) => {
				this.loading = false
				this.snackbar_text = err
			})
		},
		do_query (url, body) {
			this.loading = true
			var qs = require('qs')
	        return axios({
				method: 'POST',
				url: this.$store.state.init.base + url,
				data: qs.stringify(body)
	        })
		}
	},
	watch: {
		chip_id_model: function (val) {
			// console.log(val)
		}
	},
	computed: {
		disabled () {
			return this.chip_id_model === ''
		}
	},
	components: {
		OrderTemp
	}
}
</script>

<style>
*, html, body {
	font-family: 'Roboto';
}

.application {
	background-color: #FFFFFF !important;
}

.text-muted {
	color: #AEAFB1 !important;
}

.v-alert.active {
	outline : 2px solid #A7C22A !important;
	outline-offset: -2px;
}
.opacity {
	opacity: 0.5;
}
.v-messages {
	display: none;
}

.v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
	margin-bottom: 0 !important;
}

.theme--light.v-label,
.theme--light.v-label div,
.v-list__tile.theme--light,
.v-expansion-panel__header div {
	color: #030303 !important;
	font-weight: 400 !important;
}

.v-list__tile__title {
	color: #030303 !important;
	font-size: 1rem;
}

.v-input__control {
	width: 100% !important;
}

.v-label {
	margin-left: 7.5px;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #A7C22A;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
</style>
