<template>
  	<div>

	  	<div class="spinner" v-if="loading">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>

		<!-- THE INVOICE -->
		<v-layout
			row
			wrap
			v-if="order !== null && !loading"
			fill-width>

			<v-flex xs12>
				<template>
					<div>
						<v-toolbar
							color="#FFFFFF"
							style="border-bottom: 2px solid #E3E3E3;"
							flat
							fixed app>
							<v-toolbar-side-icon @click="back()">
								<v-icon color="#A7C22A">arrow_back</v-icon>
							</v-toolbar-side-icon>

							<v-toolbar-title style="color: #A7C22A;" class="ml-0">Invoice</v-toolbar-title>

							<v-spacer></v-spacer>
						</v-toolbar>
					</div>
				</template>
			</v-flex>

			<v-flex xs6 pt-4 align-center>
				<img src="~/assets/logo-tanaka.png" aspect-ratio="1" />
			</v-flex>

			<v-flex xs6 pt-4 my-auto text-xs-right>
				<v-btn
					outline
					class="text-capitalize"
					@click="print()"
					style="color: #030303 !important; background-color: #FFFFFF !important; border-color: #A7C22A !important; border-radius: 3.5px;">
					<v-icon class="mr-2">print</v-icon> Print
				</v-btn>
			</v-flex>

			<!-- Invoice Number -->
			<v-flex xs12 class="mt-3">
				<template>
					<v-layout row class="text-xs-left">
						<span class="px-0 font-weight-regular" style="color: #A7C22A !important;">No. Tagihan</span>
					</v-layout>
					<v-layout row class="text-xs-left">
						<span class="text--lighten-1 px-0">{{ order.code }}</span>
					</v-layout>
				</template>
			</v-flex>

			<v-flex xs12>
				<template>
					<v-layout row class="text-xs-left">
						<span class="px-0 font-weight-regular" style="color: #A7C22A !important;">No. Invoice</span>
					</v-layout>
					<v-layout row class="text-xs-left">
						<span class="text--lighten-1 px-0">{{ invoice.code }}</span>
					</v-layout>
				</template>
			</v-flex>
			
			<!-- Payment Method -->
			<v-flex xs12>
				<template>
					<v-layout row class="text-xs-left">
						<span class="px-0 font-weight-regular" style="color: #A7C22A !important;">Metode Pembayaran</span>
					</v-layout>
					
					<v-layout row class="text-xs-left" v-if="order.payment_method === 'bca_klikpay'">
						<span class="caption mx-4" style="color: #191921">{{ payment_detail.klikpay_code }}</span>
							<v-tooltip bottom>
								<template v-slot:activator="{ on }">
									<v-icon class="caption" v-clipboard="payment_detail.klikpay_code" v-on="on">file_copy</v-icon>
								</template>
								<span>Disalin</span>
							</v-tooltip>
					</v-layout>
					
					<v-layout row class="text-xs-left" v-else-if="order.payment_method === 'bca_sakuku'"></v-layout>

					<v-layout row class="text-xs-left" v-else>
						<div v-if="order.payment_method === 'transfer'">
							<p class="mb-1">{{ payment_detail.bca.code }}</p>
							<span class="body-1" style="color: #191921" >{{ payment_detail.bca.account_number }}</span>
								<v-tooltip bottom>
									<template v-slot:activator="{ on }">
										<v-icon class="caption" v-clipboard="payment_detail.bca.account_number" v-on="on">file_copy</v-icon>
									</template>
									<span>Disalin</span>
								</v-tooltip>
						</div>
						<div v-else>
							<span class="body-1" style="color: #191921">{{ payment_detail.account_number }}</span>
								<v-tooltip bottom>
									<template v-slot:activator="{ on }">
										<v-icon class="caption" v-clipboard="payment_detail.account_number" v-on="on">file_copy</v-icon>
									</template>
									<span>Disalin</span>
								</v-tooltip>
						</div>
					</v-layout>

					<v-layout row class="text-xs-left" v-if="order.payment_method === 'transfer'">
						<span class="body-1" style="color: #191921">{{ payment_detail.bca.account_name }}</span>
					</v-layout>

					<v-layout row class="text-xs-left body-1" v-else>
						<span class="body-1" style="color: #191921">{{ payment_detail.account_name }}</span>
					</v-layout>
				</template>
			</v-flex>
			
			<!-- Payment Detail -->
			<v-flex xs12>
				<template>
					<v-subheader class="px-0">Detail</v-subheader>
				</template>

				<v-card flat class="mb-2 bRadius" color="#FFFFFF" v-if="product_detail !== null">
					<v-card-text class="ma-0 pa-0">
						<v-list class="mx-0 px-0 py-2">
							<v-list-tile>
								<span class="text-muted">Tanggal</span> <v-spacer></v-spacer> {{ order.date_added }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile>
								<span class="text-muted">Chip ID</span> <v-spacer></v-spacer> {{ product_detail.Chipid }}
							</v-list-tile>

							<v-divider></v-divider>

							<v-list-tile>
								<span class="text-muted">Produk</span> <v-spacer></v-spacer> {{ product_detail.Produk }}
							</v-list-tile>
						</v-list>
					</v-card-text>
				</v-card>
			</v-flex>

			<v-flex xs12>
				<div class="pt-5">
					<v-btn color="#222222" style="color: #222222; border-radius: 5px;" block outline large @click="exit()">Keluar</v-btn>
				</div>
			</v-flex>
		</v-layout>

  </div>
</template>

<script>
import util from '~/assets/js/util'
import axios from 'axios'

export default {
    data() {
        return {
			order: {},
			invoice: {},
			payment_detail: {},
			product_detail: {},
			loading: false,
			payment_method: {}
        }
    },
    methods: {
		back: function () {
			this.$router.back()
		},
		exit: function () {
			window.location.href = 'https://tokomanamana.com/'
		},
        count_total_ammount: function() {
			let price = Number(this.order.total)
			let unique_code = Number(this.order.unique_code)
			let total_plus_code = price + unique_code;

            if (this.order.payment_method === 'transfer') {
				return util.rupiah(total_plus_code)
			} else {
				return util.rupiah(price)
			}
        },
        do_query (url, is_post, body) {
			let header_data = {
				crossDomain: true,
				headers: {
					"Content-Type": "application/json",
					"Access-Control-Allow-Origin": "*",
					"Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
					"Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
				},
				timeout: 0
			}
			var qs = require('qs')
			if (is_post) {
				return axios({
					method: 'POST',
					url: this.$store.state.init.base + url,
					data: qs.stringify(body)
				})
			} else {
				return axios.get(this.$store.state.init.base + url, body, header_data)
			}
		}
    },
    mounted () {
		this.loading = true
    	let query = this.$route.query.order
		if (query !== undefined) {
			let body = {
				'order': query
			}
			this.do_query('voucher/payment_detail', true, body).then(({data}) => {
				if (data.success === 1) {
					this.order = data.data.order
					this.invoice = data.data.invoice
					this.payment_detail = JSON.parse(data.data.order.payment_to)
					this.product_detail = JSON.parse(data.data.order.product_detail)
					this.payment_detail = data.data.order.payment_to ? JSON.parse(data.data.order.payment_to) : '',
					this.loading = false
				} else {
					this.loading = false
					this.snackbar_text = data.msg
				}
	        })
		} else {
			this.$router.push('/app_data')
		}
    }
}
</script>

<style>

</style>