<template>
	<div style="" class="select-package">

		<v-layout row wrap v-show="loading" style="">
			<v-flex xs12 >
				<div class="spinner" >
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</v-flex>
		</v-layout>
	
		<!-- FIRST STEP (FILL THE DATA) -->

		<!-- BANNER -->
		<v-layout
			row wrap
			fill-width
			v-show="!loading"
			class="mt-3">
			<img width="100%" src="https://tokomanamana.com/files/images/banners/banner voucher/Banner Voucher.jpg">
		</v-layout>

		<!-- STEP -->
		<v-layout
			row wrap
			fill-width
			v-show="!loading">
			<v-flex xs12>
				<template>
					<div>
						<v-toolbar
							class="pl-20"
							color="#FFFFFF"
							style="border-bottom: 2px solid #E3E3E3;"
							flat
							fixed app>
							<v-toolbar-side-icon @click="close()">
								<v-icon color="#A7C22A">arrow_back</v-icon>
							</v-toolbar-side-icon>

							<v-toolbar-title style="color: #A7C22A;" class="ml-0 hidden-sm-and-up">Pilih Paket</v-toolbar-title>

							<v-toolbar-title class="hidden-xs-only">
								<img width="180" src="https://tokomanamana.com/files/images/logo.png">
							</v-toolbar-title>

							<v-spacer></v-spacer>
						</v-toolbar>
					</div>
				</template>

				<v-flex md12 class="hidden-xs-only my-2">
					<v-stepper style="box-shadow:none; background:none">
						<v-stepper-header >
							<v-stepper-step step="1" color="#A7C22A" complete>
								Input Chip ID
							</v-stepper-step>
							<v-stepper-step step="2" color="#A7C22A" complete>
								Pilih Paket
							</v-stepper-step>
							<v-stepper-step step="3" color="#A7C22A">
								Pilih Metode Pembayaran
							</v-stepper-step>
							<v-stepper-step step="4" color="#A7C22A">
								Selesai
							</v-stepper-step>
						</v-stepper-header>
					</v-stepper>

					<v-spacer></v-spacer>
				</v-flex>
			</v-flex>
		</v-layout>

		<!-- MOBILE -->
		<v-layout row wrap 
			v-show="!loading && user_id !== '' && product_list.length > 0" 
			style="" 
			class="hidden-sm-and-up">

			<v-flex xs12 style="margin-top: 10px; margin-bottom: 1.5em; text-align: left; margin-left: 2px;" align-self-start>
				<v-card 
				flat
					>
					<v-card-title primary-title
							style="font-size: 16px; border-bottom: 2px solid #A7C22A; letter-spacing: 1px; padding-bottom: 0.5em;">
							<span class="font-weight-bold">Informasi Chip ID</span>
						</v-card-title>
					<v-list two-line>
						<v-list-tile avatar>
							<v-list-tile-content>
							<v-list-tile-sub-title>Operator</v-list-tile-sub-title>
							<v-list-tile-sub-title><span v-if="operator === 'TRANSVISION'" class="text-xs-left" style="text-transform: uppercase; color: #333; font-weight: 400; font-size: 18px; float:left"><img width="180" src="https://tokomanamana.com/files/images/nusantara.png"></span>
										<span v-else class="text-xs-left" style="text-transform: uppercase; color: #333; font-weight: 400; font-size: 18px;"><img width="180" src="https://tokomanamana.com/files/images/transvision.png"></span></v-list-tile-sub-title>
							</v-list-tile-content>
						</v-list-tile>

						<v-list-tile avatar>
							<v-list-tile-content>
							<v-list-tile-sub-title>Chip ID</v-list-tile-sub-title>
							<v-list-tile-title>{{ chip_id }}</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile> 
					</v-list>
					<v-flex class="ml-3 mr-3" xs12 lg6>
						<v-menu
						ref="menu2"
						v-model="menu2"
						:close-on-content-click="false"
						:nudge-right="40"
						lazy
						transition="scale-transition"
						offset-y
						full-width
						max-width="290px"
						min-width="290px"
						>
						<template v-slot:activator="{ on }">
							<v-text-field
							v-model="dateFormatted"
							label="Tanggal Aktivasi Paket"
							persistent-hint
							@blur="date = parseDate(dateFormatted)"
							v-on="on"
							outline
							color="#A7C22A"
							></v-text-field>
						</template>
						<v-date-picker v-model="date" no-title @input="menu2 = false"></v-date-picker>
						</v-menu>
					</v-flex>
				</v-card>
				<!-- <span>Chip ID : <b>{{chip_id}}</b></span> -->
				<!-- <v-btn color="#A7C22A" small outline @click="change_chip_id()">ubah</v-btn> -->
			</v-flex>

			<!-- <v-flex xs12>
				<v-menu 
					lazy
					max-height="30em"
					transition="scale-transition">
					<template v-slot:activator="{ on }">
						<div
							v-on="on"
							style="border: 2px solid #ECEAEA; padding: 0.6em; text-align: left; border-radius: 5px; vertical-align: middle">
							<span>{{ package_detail.Produk === undefined ? 'Pilih Produk' : package_detail.Produk }} <v-icon color="#A7C22A" style="vertical-align: middle; float: right;">arrow_drop_down</v-icon></span>
						</div>
					</template>
					<v-list style="">
						<v-list-tile v-for="(product, index) in filterPaket" :key="index">
							<v-list-tile-title v-if="product.Status == 'TERSEDIA'" @click="select_paket(product, product.Keterangan)">{{ product.Keterangan }}</v-list-tile-title>
						</v-list-tile>
					</v-list>
				</v-menu>
			</v-flex>

			<v-flex xs12 v-show="package_detail_element">
				<p class="text-xs-left font-weight-medium mb-0">Detail Paket</p>
				<v-layout class="secondary white--text" block row wrap>
					<v-flex xs12 class="py-4">
						<div class="text-xs-left ml-2" >
							<p class="subheading mb-0" style="text-align:center; font-size:14px">{{ package_detail.Keterangan }}</p>
						</div>
						<v-divider class="white ml-2 mr-2"></v-divider>
						<div class="text-xs-left ml-2">
							<h6 class="headline pt-0 white--text font-weight-bold" style="text-align:center">Rp.{{ rupiah(package_detail.Harga) }}</h6>
						</div>
						<div style="font-size: 12px; width: 100%; letter-spacing: 1.2px; padding:15px">
							{{ package_detail.detail }}
						</div>
					</v-flex>
				</v-layout>

				<v-layout row wrap class="mt-3">
					<v-flex xs12>
						<v-btn 
							block
							color="#222"
							style="color: #FFFFFF; font-weight: normal; letter-spacing: 1px; height: 46px;"
							@click="submit()">lanjutkan</v-btn>
					</v-flex>
				</v-layout>
			</v-flex> -->

			<v-flex sm12>
				<v-card flat>
					<v-card-title
						primary-title
						style="font-size: 16px; border-bottom: 2px solid #A7C22A; letter-spacing: 1px; padding-bottom: 0.5em;"
					>
						<span class="font-weight-bold">Pilih Paket Produk</span>
					</v-card-title>
					<v-card-text class="text-xs-left">
						<v-layout row wrap class="search-product mb-3">
							<v-flex xs12>
								<v-text-field
									color="#A7C22A"
									solo
									flat
									placeholder="Cari produk yang kamu inginkan"
									prepend-inner-icon="search"
									:hide-details="true"
									style="border: 1px solid #CCCCCC;border-radius:3px;"
									@keyup="searchProduct()"
									v-model="keywordSearch"
								></v-text-field>
							</v-flex>
						</v-layout>
						<div class="product-wrapper product-wrapper-mobile" v-if="listProductSearch.length > 0">
							<v-layout align-center row wrap :class="`product-list ${package_detail_element ? selectedPackageIndex == index ? 'selected' : '' : ''}`" v-for="(product, index) in listProductSearch" :key="index" @click="selectPackage(index)">
								<v-flex 
									xs5 
									style="height:100%;"
								>
									<v-layout 
										align-center 
										row 
										wrap 
										class="product-list-left"
									>
										<div>
											<div class="product-left-title">{{ product.Keterangan }}</div>
										</div>
									</v-layout>
								</v-flex>
								<v-flex 
									xs7 
								>
									<v-layout
										align-center
										row
										wrap
										class="product-list-right"
									>
										<div class="product-channel">
											<div>Channel</div>
											<div>{{ product.detail }}</div>
										</div>
										<div class="product-price">
											Rp. {{ rupiah(product.Harga) }}
										</div>
									</v-layout>
								</v-flex>
							</v-layout>
						</div>
						<div class="product-wrapper" v-else>
							<v-layout
								justify-center
								align-center
								style="height:100%;"
							>
								Tidak ada produk
							</v-layout>
						</div>
						<v-flex sm12 class="text-xs-right mt-3">
							<v-btn
								color="#A7C22A"
								style="color: #FFFFFF;"
								class="mr-0"
								:disabled="disabledButtonSubmit"
								depressed
								block
								@click="submit()"
							>
								lanjutkan pilih pembayaran
							</v-btn>
						</v-flex>
					</v-card-text>
				</v-card>
			</v-flex> 
			
		</v-layout>


		<!-- WEBSITE -->
		<v-layout row wrap 
			v-show="!loading && user_id !== '' && product_list.length > 0" 
			class="hidden-xs-only mt-2">
			<v-flex sm4 class="p1-2 pr-4">
				<v-card 
					flat
					min-height="500"
					>
					<v-card-title primary-title
							style="font-size: 16px; border-bottom: 2px solid #A7C22A; letter-spacing: 1px; padding-bottom: 0.5em;">
							<span class="font-weight-bold">Informasi Chip ID</span>
						</v-card-title>
					<v-list two-line>
						<v-list-tile avatar>
							<v-list-tile-content>
							<v-list-tile-sub-title>Operator</v-list-tile-sub-title>
							<v-list-tile-sub-title><span v-if="operator === 'TRANSVISION'" class="text-xs-left" style="text-transform: uppercase; color: #333; font-weight: 400; font-size: 18px; float:left"><img width="180" src="https://tokomanamana.com/files/images/nusantara.png"></span>
										<span v-else class="text-xs-left" style="text-transform: uppercase; color: #333; font-weight: 400; font-size: 18px;"><img width="180" src="https://tokomanamana.com/files/images/transvision.png"></span></v-list-tile-sub-title>
							</v-list-tile-content>
						</v-list-tile>

						<v-list-tile avatar>
							<v-list-tile-content>
							<v-list-tile-sub-title>Chip ID</v-list-tile-sub-title>
							<v-list-tile-title>{{ chip_id }}</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</v-list>
					<v-flex class="ml-3 mr-3" xs12 lg8>
						<v-menu
						ref="menu1"
						v-model="menu1"
						:close-on-content-click="false"
						:nudge-right="40"
						lazy
						transition="scale-transition"
						offset-y
						full-width
						max-width="290px"
						min-width="290px"
						>
						<template v-slot:activator="{ on }">
							<v-text-field
							v-model="dateFormatted"
							label="Tanggal Aktivasi Paket"
							persistent-hint
							outline
							@blur="date = parseDate(dateFormatted)"
							v-on="on"
							color="#A7C22A"
							></v-text-field>
						</template>
						<v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
						</v-menu>
					</v-flex>
				</v-card>
			</v-flex>
			<v-flex sm8>
				<v-flex >
					<v-card flat>
						<v-card-title primary-title
							style="font-size: 16px; border-bottom: 2px solid #A7C22A; letter-spacing: 1px; padding-bottom: 0.5em;">
							<span class="font-weight-bold">Pilih Paket Produk</span>
						</v-card-title>
						<v-card-text class="text-xs-left">
							<!-- <v-menu 
								lazy
								max-height="30em"
								transition="scale-transition">
								<template v-slot:activator="{ on }">
									<div
										v-on="on"
										style="border: 2px solid #ECEAEA; padding: 0.6em; text-align: left; border-radius: 5px; vertical-align: middle">
										<span>{{ package_detail.Produk === undefined ? 'Pilih Produk' : package_detail.Produk }} <v-icon color="#A7C22A" style="vertical-align: middle; float: right;">arrow_drop_down</v-icon></span>
									</div>
								</template>
								<v-list style="">
									<v-list-tile v-for="(product, index) in filterPaket" :key="index"
										style="cursor: pointer;">
										<v-list-tile-title
											@click="select_paket(product, product.Keterangan)">{{ product.Keterangan }}</v-list-tile-title>
									</v-list-tile>
								</v-list>
							</v-menu>

							<v-expand-transition>
								<v-flex sm12
									v-if="package_detail_element"
									class="transition-fast-in-fast-out v-card--reveal display-1 white--text"
									style="align-items: center; bottom: 0; justify-content: center; opacity: .7; width: 100%; background-color: #A7C22A; padding: .5em; display: block;">
									<div style="border-bottom: 2px solid #FFFFFF; font-size: 16px;font-weight:bold;width: 100%; letter-spacing: 1.2px">
										{{ package_detail.Keterangan }}
									</div>
									<div class="mt-1" style="padding-bottom: 2em;">
										<span>Rp. {{ rupiah(package_detail.Harga) }}</span>
										<span class="caption">{{ package_detail.detail }}</span>
										<div style="font-size: 14px; width: 100%; letter-spacing: 1.2px">
											{{ package_detail.detail }}
										</div>
										<v-btn 
											color="#222"
											style="color: #FFFFFF; font-weight: normal; letter-spacing: 1px; margin: 2.3em 0; float: right;"
											@click="submit()">lanjutkan</v-btn>
									</div>
								</v-flex>
							</v-expand-transition> -->
							<v-layout row wrap class="search-product mb-3">
								<v-flex xs12>
									<v-text-field
										color="#A7C22A"
										solo
										flat
										placeholder="Cari produk yang kamu inginkan"
										prepend-inner-icon="search"
										:hide-details="true"
										style="border: 1px solid #CCCCCC;border-radius:3px;"
										@keyup="searchProduct()"
										v-model="keywordSearch"
									></v-text-field>
								</v-flex>
							</v-layout>
							<div class="product-wrapper" v-if="listProductSearch.length > 0">
								<v-layout align-center row wrap :class="`product-list ${package_detail_element ? selectedPackageIndex == index ? 'selected' : '' : ''}`" v-for="(product, index) in listProductSearch" :key="index" @click="selectPackage(index)">
									<v-flex 
										xs4 
										style="height:100%;"
									>
										<v-layout 
											align-center 
											row 
											wrap 
											class="product-list-left"
										>
											<div>
												<div class="product-left-title">{{ product.Keterangan }}</div>
											</div>
										</v-layout>
									</v-flex>
									<v-flex 
										xs8 
									>
										<v-layout
											align-center
											row
											wrap
											justify-space-between
											class="product-list-right"
										>
											<div class="product-channel">
												<div>Channel</div>
												<div>{{ product.detail }}</div>
											</div>
											<div class="product-price">
												Rp. {{ rupiah(product.Harga) }}
											</div>
										</v-layout>
									</v-flex>
								</v-layout>
							</div>
							<div class="product-wrapper" v-else>
								<v-layout
									justify-center
									align-center
									style="height:100%;"
								>
									Tidak ada produk
								</v-layout>
							</div>
							<v-flex sm12 class="text-xs-right mt-3">
								<v-btn
									color="#A7C22A"
									style="color: #FFFFFF;"
									class="mr-0"
									:disabled="disabledButtonSubmit"
									depressed
									@click="submit()"
								>
									lanjutkan pilih pembayaran
								</v-btn>
							</v-flex>
						</v-card-text>
					</v-card>
				</v-flex>
			</v-flex>
		</v-layout>

		<v-layout row wrap style="margin-top: 3em;" v-show="!loading && user_id === ''">
			<v-flex xs12 >
				<h3 style="margin-bottom: 12px">Silahkan login terlebih dahulu</h3>
				<p :style="'color: ' + $vuetify.theme.error">{{snackbar_text}}</p>
				<v-btn color="#A7C22A" outline style="border-radius: 4px" @click="login()" large>login</v-btn>
			</v-flex>
		</v-layout>

		<v-snackbar
			v-model="snackbar"
			color="#A7C22A"
			multi-line
			:timeout="timeout">
			{{ snackbar_text }}
			<v-btn
				dark
				flat
				@click="snackbar = false">
				Tutup
			</v-btn>
		</v-snackbar>
		
	</div>
</template>

<script>

import axios from 'axios'
import vuex from 'vuex'
import util from '~/assets/js/util'

export default {
	data() {
		return {
			user_id: '',
			chip_id: '',
			operator:'',
			kodeOperator:'',
			customer:'',
			chip_id_model: '',
			product_list: [],
			price_list: [],
			package_detail: {},
			package_detail_label: {},
			package_detail_element: false,
			timeout: 5000,
			snackbar: false,
			snackbar_text: '',
			is_mounted: false,
			loading: true,
			requiredRules: [
      			v => !!v || 'This Field is required'
			],
						// date: new Date().toISOString().substr(0, 10),
			// date:null,
			// dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
			// dateFormatted:this.formatDate(null),
			// date: new Date().toISOString().substr(0, 10),
			date: null,
			dateFormatted:this.formatDate(null),
			menu1: false,
			menu2: false,
			keywordSearch: '',
			listProductSearch: [],
			selectedPackageIndex: 0,
		}
	},
	mounted() {
		var encryption_ = {
			// private property
			_keyStr : "b8e70c06e5ce7d45969fbe73d751b395",
			// public method for encoding
			encode : function (input) {
			var sResult = '';
			for(var i=0;i<input.length;i++){
				var sChar = input.substring(i, i+1);
				//var sKeyChar = this._keyStr.substring(((i % this._keyStr.length) - 1), (i % this._keyStr.length));
				var sKeyChar = this._keyStr.substring(i, i+1);
				//console.log(this._keyStr.substring(i, i+1));
				sChar = String.fromCharCode(parseInt(sChar.charCodeAt(0)) + parseInt(sKeyChar.charCodeAt(0)));
				sResult += sChar;

			}   
			return window.btoa(sResult);
			},
			// public method for decoding
			decode : function (input) {
			var sResult = ''
			var sData   = window.atob(input)
			for (var i=0; i<sData.length; i++) {
				var sChar = sData.substring(i, i+1)
				var sKeyChar = this._keyStr.substring(i, i+1)
				sChar = String.fromCharCode(parseInt(sChar.charCodeAt(0)) - parseInt(sKeyChar.charCodeAt(0)));
				sResult += sChar
			}
			return sResult;
			},
			// private method for UTF-8 encoding
			_utf8_encode : function (string) {
			return false;
			},
			// private method for UTF-8 decoding
			_utf8_decode : function (utftext) {
			return false;
			}
		}
		let query = this.$route.query.user
		// let query_operator = encryption_.decode(this.$route.query.operator)
		let query_operator = decodeURIComponent(encryption_.decode(this.$route.query.operator));
		// let query_chip = encryption_.decode(this.$route.query.chip)
		let query_chip = decodeURIComponent(encryption_.decode(this.$route.query.chip));
		// let query_operator = 'TRANSVISION';
		// let query_chip = '1212133333';
		this.operator = query_operator
		if (query !== undefined) {
			let body = {
				'code': query
			}
			if(query_chip !== '' || query_chip !== undefined){
				localStorage.setItem('chip_id', query_chip)
				this.chip_id = query_chip
			}
			// console.log(query);
			this.do_query('voucher', body).then(res => {
				let data = res.data
				if (data.success === 1) {
					this.customer = data.data.fullname
					localStorage.setItem('user_code', query)
					let chip_id = query_chip
					if (chip_id === undefined || chip_id === '' || chip_id === null) {
						this.$router.go(-1)
					} else {
						this.user_id = query
						this.get_list_product()
					}
				} else {
					this.loading = false
					this.snackbar_text = data.msg
					this.$router.go(-1)
				}
			}).catch((err) => {
				// console.log(err);
				this.loading = false
				this.snackbar_text = err
				this.$router.go(-1)
			})
		} else {
			let id_user = localStorage.getItem('user_code')
			if (id_user !== undefined) {
				let chip_id = localStorage.getItem('chip_id')
				if (chip_id === undefined || chip_id === '' || chip_id === null) {
					this.$router.go(-1)
				} else {
					this.user_id = id_user
					this.get_list_product()
				}
			}
		}
	},
	methods: {
		select_paket (data, label) {
			this.package_detail = data
			this.package_detail_label = label
			this.package_detail_element = true
		},
		selectPackage(index){
			this.selectedPackageIndex = index
			const selectedPackage = this.listProductSearch[index]
			this.package_detail = selectedPackage
			this.package_detail_label = selectedPackage.Keterangan
			this.package_detail_element = true
		},
		submit () {
			let body = {
				'code': this.user_id,
				'product': this.package_detail,
				'chip_id': this.chip_id,
				'operator': this.operator,
				'label_produk': this.package_detail_label,
				'date_act' : this.date
			}
			this.do_query('voucher/add_order', body).then(res => {
				this.loading = false
				let data = res.data
				// console.log(data)
				if (data.success === 1) {
					localStorage.setItem('origin_param', 1)
					localStorage.setItem('order_temp', data.data)
					this.$router.push('/app_data/payment')
				} else {
					this.snackbar_text = data.msg
					this.snackbar = true
				}
			}).catch((err) => {
				this.loading = false
				this.snackbar_text = err
			})
		},
		change_chip_id () {
			this.$router.replace('/app_data')
		},
		close () {
			this.$router.go(-1)
		},
		login () {
			window.location = 'https://tokomanamana.com/member/login'
		},
		get_list_product () {
			this.kodeOperator = this.operator
			if(this.operator == 'SAMSUNG'){
				this.operator = 'TRANSVISION SDHD'
			}
			let body = {
				'code': this.user_id,
				'operator': this.operator
			}
			this.do_query('voucher/product_list', body).then(res => {
				let data = res.data
				this.loading = false
				// console.log(data)
				if (data.success === 1) {
					if (data.data.ResponseCode === '000') {
						this.product_list = data.data.Data
						this.listProductSearch = this.filterPaket
					} else {
						this.snackbar_text = data.data.Messages
						this.snackbar = true
					}
				} else {
					this.snackbar_text = data.msg
					this.snackbar = true
				}
			}).catch((err) => {
				this.loading = false
				this.snackbar_text = err
			})
		},
		formatDate (date) {
			if (!date) return null

			const [year, month, day] = date.split('-')
			return `${day}-${month}-${year}`
		},
		parseDate (date) {
			if (!date) return null

			const [day, month, year] = date.split('-')
			return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
		},
		do_query (url, body) {
			this.loading = true
			var qs = require('qs')
	        return axios({
	          method: 'post',
	          url: this.$store.state.init.base + url,
	          data: qs.stringify(body)
	        })
		},
		rupiah (x) {
			let val = (x/1).toFixed(2).replace('.', ',')
        	return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
		},
		get_chip_id () {
			return localStorage.getItem('chip_id')
		},
		searchProduct() {
			let filter = this.filterPaket.filter(i => i.Keterangan.toLowerCase().indexOf(this.keywordSearch.toLowerCase()) >= 0)
			this.package_detail_element = false
			this.listProductSearch = filter
		}
	},
	watch: {
		product_list: function (val) {
			this.price_list = []
			const formatter = new Intl.NumberFormat('en-US', {
	          	style: 'currency',
	          	currency: 'IDR',
	          	minimumFractionDigits: 0
	        })
			for (let a=0; a<val.length; a++) {
				let price = parseInt(val[a].Harga)
				this.price_list.push(formatter.format(price))
			}
		},
		chip_id_model: function (val) {
			// console.log(val)
		},
		date (val) {
			this.dateFormatted = this.formatDate(this.date)
		}
	},
	computed: {
		disabled () {
			return this.chip_id_model === ''
		},
		filterPaket: function () {
			//SORTING PRICE
			this.product_list.sort((a, b) => a.Harga - b.Harga );
			if(this.kodeOperator === 'SAMSUNG'){
				// return this.product_list.filter(i => !i.Keterangan.includes('MVP') && i.Status == 'TERSEDIA' && i.Keterangan.includes('HD') && !i.Keterangan.includes('PREMIUM'))
				return this.product_list.filter(i => !i.Keterangan.includes('MVP') && i.Status == 'TERSEDIA' && i.Keterangan.includes('HD') && i.Keterangan.includes('TMM'))
			} else if(this.kodeOperator === 'TRANSVISION SDHD'){
				// return this.product_list.filter(i => !i.Keterangan.includes('MVP') && i.Status == 'TERSEDIA' && i.Keterangan.includes('SD') && !i.Keterangan.includes('PREMIUM'))
				return this.product_list.filter(i => !i.Keterangan.includes('MVP') && i.Status == 'TERSEDIA' && i.Keterangan.includes('SD') && i.Keterangan.includes('TMM'))
			} else {
				// return this.product_list.filter(i => !i.Keterangan.includes('MVP') && i.Status == 'TERSEDIA' && !i.Keterangan.includes('SD') && !i.Keterangan.includes('HD') && !i.Keterangan.includes('PREMIUM'))
				return this.product_list.filter(i => !i.Keterangan.includes('MVP') && i.Status == 'TERSEDIA' && !i.Keterangan.includes('SD') && !i.Keterangan.includes('HD') && i.Keterangan.includes('TMM'))
			}
			// if(this.kodeOperator === 'SAMSUNG'){
			// 	return this.product_list.filter(i => !i.Produk.includes('MVP') && i.Status == 'TERSEDIA' && i.tipe == 'diskon' && i.Keterangan.includes('PROMO TMM') && i.Keterangan.includes('HD'))
			// } else if(this.kodeOperator === 'TRANSVISION SDHD'){
			// 	return this.product_list.filter(i => !i.Produk.includes('MVP') && i.Status == 'TERSEDIA' && i.tipe == 'diskon' && i.Keterangan.includes('PROMO TMM') && i.Keterangan.includes('SD'))
			// } else {
			// 	return this.product_list.filter(i => !i.Produk.includes('MVP') && i.Status == 'TERSEDIA' && i.tipe == 'diskon' && i.Keterangan.includes('PROMO TMM') && !i.Keterangan.includes('SD') && !i.Keterangan.includes('HD'))
			// }
			// return this.product_list.filter(i => !i.Produk.includes('MVP') && i.Status == 'TERSEDIA' && i.tipe == 'diskon' && i.Keterangan.includes('PROMO TMM'))
			// return this.product_list.filter(i => i.Status == 'TERSEDIA' )
		},
		computedDateFormatted () {
			return this.formatDate(this.date)
		},
		disabledButtonSubmit() {
			return this.listProductSearch <= 0 || !this.package_detail_element
		}
	}
}
</script>

<style>

.select-package .product-wrapper {
	border: 1px solid #EEEEEE;
	height: 500px;
	padding: 15px 20px;
	overflow-y: scroll;
}

.select-package .product-wrapper .product-list {
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	height: 95px;
	cursor: pointer;
	margin-bottom: 10px;
}

.select-package .product-wrapper .selected {
	border: 1px solid #A7C22A;
	box-shadow: 0 0 20px 0px rgb(167 194 42 / 30%);
}

.select-package .product-wrapper .product-list .product-list-left {
	background: #3B4A8F;
	height: 100%;
	border-radius: 5px;
	padding: 15px;
	color: white;
}

.select-package .product-wrapper .product-list .product-list-left .product-left-title {
	font-size: 16px;
}

.select-package .product-wrapper .product-list .product-list-left .product-left-subtitle {
	font-size: 24px;
	font-weight: 800;
}

.select-package .product-wrapper .product-list .product-list-right {
	padding: 5px 25px;
}

.select-package .product-wrapper .product-list .product-list-right .product-price {
	font-size: 16px;
	font-weight: bold;
}

.select-package .product-wrapper .product-list .product-list-right .product-channel {
	width: 50%;
}

.select-package .product-wrapper .product-list .product-list-right .product-channel div:first-child {
	font-size: 12px;
	color: #999999;
}

.select-package .product-wrapper .product-list .product-list-right .product-channel div:last-child {
	font-size: 14px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 45px;
	word-wrap: break-word;	
}


/* mobile version */
.select-package .product-wrapper-mobile {
	padding: 15px 10px;
}
.select-package .product-wrapper-mobile .product-list-left {
	padding: 5px !important;
}
.select-package .product-wrapper-mobile .product-list-left .product-left-title {
	font-size: 12px !important;
}

.select-package .product-wrapper-mobile .product-list .product-list-right .product-channel {
	width: 100% !important;
}

.select-package .product-wrapper-mobile .product-list {
	height: auto !important;
}

.select-package .product-wrapper-mobile .product-list .flex {
	height: 8rem !important;
}

.select-package .product-wrapper-mobile .product-list .flex .layout {
	height: 100%;
}

.select-package .product-wrapper-mobile .product-list .product-list-right .product-channel div:first-child {
	font-size: 10px !important;
}

.select-package .product-wrapper-mobile .product-list .product-list-right .product-channel div:last-child {
	font-size: 12px !important;
	max-height: 35px;
}

.select-package .product-wrapper-mobile .product-list .product-list-right {
	padding: 5px 10px;
}

.select-package .product-wrapper-mobile .product-list .product-list-right .product-price {
	font-size: 14px !important;
}

</style>