<template>
    <div>

        <div class="spinner" v-if="loading">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>

		<v-layout
			row
			wrap
			fill-width
			mt-2
            v-if="!loading">
			<v-flex xs12>
				<template>
					<div>
						<v-toolbar
							color="#FFFFFF"
							style="border-bottom: 2px solid #E3E3E3;"
							flat
							fixed app id="title">
							<v-toolbar-side-icon @click="back()">
                                <v-icon color="#A7C22A">arrow_back</v-icon>
							</v-toolbar-side-icon>

							<v-toolbar-title style="color: #A7C22A;" class="ml-0 hidden-sm-and-up">Pembayaran</v-toolbar-title>

							<v-toolbar-title class="hidden-xs-only">
								<img src="https://tokomanamana.com/files/images/logo.png">
							</v-toolbar-title>

							<v-spacer></v-spacer>
						</v-toolbar>
					</div>
				</template>

				<v-flex md12 class="hidden-xs-only my-2">
					<v-stepper style="box-shadow:none; background:none">
						<v-stepper-header style="box-shadow: unset !important;">
							<v-stepper-step step="1" color="#A7C22A" complete>
								Pilih Chip ID
							</v-stepper-step>
							<v-stepper-step step="2" color="#A7C22A" complete>
								Pilih Paket
							</v-stepper-step>
							<v-stepper-step step="3" color="#A7C22A" complete>
								Pilih Metode Pembayaran
							</v-stepper-step>
							<v-stepper-step step="4" color="#A7C22A">
								Selesai
							</v-stepper-step>
						</v-stepper-header>
					</v-stepper>

					<v-spacer></v-spacer>
				</v-flex>
			</v-flex>

			<!-- MOBILE -->
			<v-layout row wrap 
				class="hidden-sm-and-up">
				<v-flex xs12>						
					<v-card 
						flat
						>
						<v-card-title primary-title
							style="font-size: 16px; border-bottom: 2px solid #A7C22A; letter-spacing: 1px; padding-bottom: 0.5em;">
							<span class="font-weight-bold">Informasi Produk</span>
						</v-card-title>
						<v-list two-line>
							<v-list-tile avatar>
								<v-list-tile-content>
								<v-list-tile-sub-title>Operator</v-list-tile-sub-title>
								<v-list-tile-sub-title><span v-if="order.operator === 'TRANSVISION'" class="text-xs-left" style="text-transform: uppercase; color: #333; font-weight: 400; font-size: 18px; float:left"><img width="180" src="https://tokomanamana.com/files/images/nusantara.png"></span>
											<span v-else class="text-xs-left" style="text-transform: uppercase; color: #333; font-weight: 400; font-size: 18px;"><img width="180" src="https://tokomanamana.com/files/images/transvision.png"></span></v-list-tile-sub-title>
								</v-list-tile-content>
							</v-list-tile>

							<v-list-tile avatar>
								<v-list-tile-content>
								<v-list-tile-sub-title>Chip ID</v-list-tile-sub-title>
								<v-list-tile-title>{{ order.chip_id }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>

							<v-list-tile avatar>
								<v-list-tile-content>
								<v-list-tile-sub-title>Paket</v-list-tile-sub-title>
								<v-list-tile-title>{{ order.produk_label }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							<v-divider></v-divider>
							<v-list-tile avatar>
								<v-list-tile-content>
								<p class="title">Harga</p>
								</v-list-tile-content>
								<v-list-tile-action>
									<p class="title red--text font-weight-bold">{{ rupiah(order.harga) }}</p>
								</v-list-tile-action>
							</v-list-tile>
						</v-list>
					</v-card>
				</v-flex>
				<v-flex xs12 class="mt-4">
					<v-card 
						flat
						>
						<v-card-title primary-title
							style="font-size: 16px; border-bottom: 2px solid #A7C22A; letter-spacing: 1px; padding-bottom: 0.5em;">
							<span class="font-weight-bold">Pilih Metode Pembayaran</span>
						</v-card-title>
						<v-expansion-panel class="noBorder bRadius" style="box-shadow: unset;">
							<v-expansion-panel-content v-for="payment in payment_list_" :key="payment.id">
								<template v-slot:header style="padding:0px">
									<v-list three-line class="pb-0 pt-0">
										<v-list-tile avatar>
											<v-list-tile-content class="pa-0">
												<v-list-tile-title>{{ payment.label }} <span class="secondary pa-1 ml-1 white--text font-weight-medium" style="border-radius:6px; font-size:10px;" v-if="payment.label == 'Transfer'">Rekomendasi</span>
												<span class="secondary pa-1 ml-1 white--text font-weight-medium" style="border-radius:6px; font-size:10px;" v-else>Rekomendasi</span></v-list-tile-title>
												<p class="caption">{{ payment.description }}</p>
											</v-list-tile-content>
										</v-list-tile>
									</v-list>
								</template>
								<!-- <v-divider></v-divider> -->
								<v-card flat class="bRadius pl-2 pb-0" color="#FFFFFF">
									<v-card-text class="py-0 ">
										<v-list flat class="py-0 ">
											<v-list-tile ripple style="height:60px !important"  v-for="payment_type in payment.type" :key="payment_type.id" @click="select_payment_method(payment_type.label, payment_type.title)" :disabled="parseFloat(order.harga) < parseFloat(payment_type.minimum) || parseFloat(order.harga) > parseFloat(payment_type.maximum)">
												<v-list-tile-title style="height:60px !important" class="text-capitalize"><img class="mr-2" width="60" style="float:left" :src="imgUrl + payment_type.image"> <p class="body-1 ma-0">{{ payment.label == 'Kartu Kredit' ? payment_type.description : payment_type.title }}</p> 
												<p v-if="parseFloat(order.harga) < parseFloat(payment_type.minimum)" class="ma-0 font-italic" style="font-size:11px">(Minimum pembelian {{ rupiah(payment_type.minimum) }})</p>
												<p v-else-if="parseFloat(order.harga) > parseFloat(payment_type.maximum)" class="ma-0 font-italic" style="font-size:11px">(Maksimum pembelian {{ rupiah(payment_type.maximum) }})</p></v-list-tile-title>
											</v-list-tile>
										</v-list>
									</v-card-text>
								</v-card>
							</v-expansion-panel-content>
						</v-expansion-panel>
					</v-card>
				</v-flex>
			</v-layout>
			<!-- WEBSITE -->
			<v-layout class="hidden-xs-only">
				<template>
					<v-flex xs6>
						<v-card 
							flat
							hover
							>
							<v-card-title primary-title
								style="font-size: 16px; border-bottom: 2px solid #A7C22A; letter-spacing: 1px; padding-bottom: 0.5em;">
								<span class="font-weight-bold">Pilih Metode Pembayaran</span>
							</v-card-title>
							<v-expansion-panel class="noBorder bRadius" style="box-shadow: unset;">
								<v-expansion-panel-content v-for="payment in payment_list_" :key="payment.id">
									<template v-slot:header style="padding-bottom:0px">
										<v-list three-line class="pb-0 pt-0">
											<v-list-tile avatar>
												<v-list-tile-content>
													<v-list-tile-title>{{ payment.label }} <span class="secondary pa-1 ml-2 white--text font-weight-medium" style="border-radius:6px; font-size:11px;" v-if="payment.label == 'Transfer'">Rekomendasi</span>
													<span class="secondary pa-1 ml-2 white--text font-weight-medium" style="border-radius:6px; font-size:11px;" v-else>Rekomendasi</span></v-list-tile-title>
													<v-list-tile-sub-title class="caption">{{ payment.description }}</v-list-tile-sub-title>
												</v-list-tile-content>
											</v-list-tile>
										</v-list>
									</template>
									<!-- <v-divider></v-divider> -->
									<v-card flat class="bRadius pl-2" color="#FFFFFF">
										<v-card-text class="py-0 ">
											<v-list flat class="py-0 ">
												<v-list-tile v-for="payment_type in payment.type" :key="payment_type.id" @click="select_payment_method(payment_type.label, payment_type.title)">
													<v-list-tile-title class="text-capitalize"><img class="mr-2" width="60" :src="imgUrl + payment_type.image"> <span class="body-1 center-vertical">{{ payment.label == 'Kartu Kredit' ? payment_type.description : payment_type.title }}</span> </v-list-tile-title>
												</v-list-tile>
											</v-list>
										</v-card-text>
									</v-card>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-card>
						<!-- <div class="pt-2">
							<v-btn
								color="red lighten-1"
								style="color: #FFFFFF; font-wight: normal; letter-spacing: 1px; height: 46px !important;"
								depressed
								block
								@click="back()">Batal</v-btn>
						</div> -->
					</v-flex>
					<v-flex xs6 class="ml-4">						
						<v-card 
							flat
							hover
							min-height="285"
							>
							<v-card-title primary-title
								style="font-size: 16px; border-bottom: 2px solid #A7C22A; letter-spacing: 1px; padding-bottom: 0.5em;">
								<span class="font-weight-bold">Informasi Produk</span>
							</v-card-title>
							<v-list two-line>
								<v-list-tile avatar>
									<v-list-tile-content>
									<v-list-tile-sub-title>Operator</v-list-tile-sub-title>
									<v-list-tile-sub-title><span v-if="order.operator === 'TRANSVISION'" class="text-xs-left" style="text-transform: uppercase; color: #333; font-weight: 400; font-size: 18px; float:left"><img width="180" src="https://tokomanamana.com/files/images/nusantara.png"></span>
												<span v-else class="text-xs-left" style="text-transform: uppercase; color: #333; font-weight: 400; font-size: 18px;"><img width="180" src="https://tokomanamana.com/files/images/transvision.png"></span></v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>

								<v-list-tile avatar>
									<v-list-tile-content>
									<v-list-tile-sub-title>Chip ID</v-list-tile-sub-title>
									<v-list-tile-title>{{ order.chip_id }}</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>

								<v-list-tile avatar>
									<v-list-tile-content>
									<v-list-tile-sub-title>Paket</v-list-tile-sub-title>
									<v-list-tile-title>{{ order.produk_label }}</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
								<v-divider></v-divider>
								<v-list-tile avatar>
									<v-list-tile-content>
									<p class="title">Harga</p>
									</v-list-tile-content>
									<v-list-tile-action>
										<p class="title red--text font-weight-bold">{{ rupiah(order.harga) }}</p>
									</v-list-tile-action>
								</v-list-tile>
							</v-list>
						</v-card>
					</v-flex>
					<v-dialog v-model="dialog" persistent max-width="600px">
						<v-card>
							<v-card-text>
								<v-form class="mx-3 py-4" id="payment-form">
									<v-flex xs12>
										<v-text-field type="text" label="Name" id="customer-name" placeholder="Please enter your name" :rules="requiredRules" v-model="customer_name"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="email" label="Email" id="customer-email" placeholder=" " :rules="requiredRules" v-model="customer_email"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="text" label="Phone Number" id="customer-phone-number" placeholder=" " :rules="requiredRules" v-model="customer_phone"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="text" label="Address" id="customer-address" placeholder=" " :rules="requiredRules" v-model="customer_address"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="text" label="Province" id="customer-province" placeholder=" " :rules="requiredRules" v-model="customer_province"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="text" label="City" id="customer-city" placeholder=" " :rules="requiredRules" v-model="customer_city"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="number" label="Postcode" id="customer-postcode" placeholder=" " :rules="requiredRules" v-model="customer_postcode"></v-text-field>
									</v-flex>
									<v-flex xs12>
										<v-text-field type="text" label="District" id="customer-distric" placeholder=" " :rules="requiredRules" v-model="customer_district"></v-text-field>
									</v-flex>
								</v-form>
							</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn flat @click="dialog = false">Close</v-btn>
								<v-btn color="#A7C22A" flat @click="submit_credit_card()">Kirim</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
				</template>
			</v-layout>
			
		</v-layout>

		<v-snackbar
			v-model="snackbar"
			color="#A7C22A"
			multi-line
			:timeout="timeout">
			{{ snackbar_text }}
			<v-btn
				dark
				flat
				@click="snackbar = false">
				Tutup
			</v-btn>
		</v-snackbar>

    </div>
</template>
<script>
import axios from 'axios'
import vuex from 'vuex'
import util from '~/assets/js/util'


export default {
    data () {
        return {
            payment_list_: [],
			payment_method: '',
			payment_type: '',
			dialog: false,
			customer_name: '',
			customer_email: '',
			customer_phone: '',
			customer_address: '',
			customer_province: '',
			customer_city: '',
			customer_postcode: '',
			customer_district: '',
			loading: false,
			order: '',
			timeout: 5000,
			snackbar: false,
			snackbar_text: '',

			requiredRules: [
      			v => !!v || 'This Field is required'
    		]
        }
    },
    mounted () {
		this.loading = true
    	this.do_query(false, 'info/payment_list', {}).then(({ data }) => {
			// console.log(data.payment_list)
			this.loading = false
			this.payment_list_ = data.payment_list
		})
		let user_code = localStorage.getItem('user_code')
		// console.log(this.payment_list_ );
		if (user_code !== null && user_code !== undefined && user_code !== '') {
			let body = {
				'code': user_code
			}
			//CHECK ORDER TEMP
			this.do_query(true, 'voucher/check_order_temp', body).then(
				({data}) => {
					this.loading = false
					// console.log(data.data)
					if (data.data !== null && data.data !== undefined) {
						if (data.data.length === 0) {
							this.$router.replace('/app_data')
						}
					} else {
						this.$router.replace('/app_data')
					}
				}
			).catch((err) => {
				this.loading = false
				this.snackbar_text = err
			})

			//GET ORDER TEMP
			this.do_query(true, 'voucher/get_order_temp', {'order': localStorage.getItem('order_temp')}).then(
				({data}) => {
					this.loading = false
					if (data.data !== null && data.data !== undefined) {
						this.order = data.data
					} else {
						this.$router.replace('/app_data')
					}
				}
			).catch((err) => {
				this.loading = false
				this.snackbar_text = err
			})
		} else {
			this.$router.replace('/app_data')
		}
    },
    computed: {
    	check_origin () {
    		return localStorage.getItem('origin_param')
		},
		imgUrl (){
			return 'https://tokomanamana.com/files/images/'
		}
    },
    methods: {
		back: function () {
			this.$router.back()
		},
		submit_credit_card: function () {
			if (this.customer_name === '' || this.customer_email === '' || this.customer_phone === '' || this.customer_address === '' || this.customer_province === '' || this.customer_city === '' || this.customer_postcode === '' || this.customer_district === '') {
				this.snackbar = true,
				this.snackbar_text = 'Please fill all field'
			} else {
				let body = {
					"code": localStorage.getItem('user_code'),
					"payment_method": this.payment_method,
					"customer_name": this.customer_name,
					"email": this.customer_email,
					"phone": this.customer_phone,
					"address": this.customer_address,
					"province": this.customer_province,
					"city": this.customer_city,
					"postcode": this.customer_postcode,
					"district": this.customer_district
				}
				this.do_query(true, 'payment/process_voucher', body).then ( ({ data }) => {
					if (data.success === 1) {
						window.location.href = data.payment_detail.payment_url
					} else {
						alert('error during post data')
					}
				}).catch(( err ) => {
					alert(err)
				})
			}
		},
        select_payment_method: function (code, type) {
			this.payment_method = code
			this.payment_type = type
			this.post_data_voucher()
        },
        post_data_voucher: function () {
			this.loading = true
            let body = {
				"code": localStorage.getItem('user_code'),
				"payment_method": this.payment_method,
				"payment_type": this.payment_type
			}
			if (this.payment_method === 'credit_card' || this.payment_method === 'creaditcard01' || this.payment_method === 'creditcard03' || this.payment_method === 'creditcard06' || this.payment_method === 'creditcard12') {
				this.dialog = true
				this.loading = false
			} else {
				this.do_query(true, 'payment/process_voucher', body).then ( ({ data }) => {
					if (data.success == 1) {
						this.set_payment_result(data)
					} else {
						alert('error during process data')
					}
				}).catch(( err ) => {
					alert(err)
				})
			}
        },
		set_payment_result: function (data) {
			this.loading = false
			console.log(data)
			if (data.payment_detail.payment_url) {
				window.location = data.payment_detail.payment_url
			} else if (data.order_data.order.payment_method == 'ovo') {
				window.location = data.payment_detail.ResponseURL
			}  else {
				this.$router.push('/app_data/payment_detail/?order=' + data.order_data.order.code)
			}
		},
		do_query (is_post, method, body) {
			let header_data = {
				crossDomain: true,
				headers: {
					"Content-Type": "application/json",
					"Access-Control-Allow-Origin": "*",
					"Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
					"Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
				},
				timeout: 0
			}
			var qs = require('qs')
			if (is_post) {
				return axios({
					method: 'POST',
					url: this.$store.state.init.base + method,
					data: qs.stringify(body)
				})
			} else {
				return axios.get( this.$store.state.init.base + method, body, header_data )
			}
		},
		rupiah (x) {
			let val = (x/1).toFixed(2).replace('.', ',')
        	return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
		},
    }
}
</script>

<style>
.center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>