<template>
    <div>

		<div class="spinner" v-show="loading">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>

        <v-layout
        	v-show="order !== null && !loading"
			row
			wrap
			fill-width
			mt-2>
			<v-flex xs12>
				<template>
					<div>
						<v-toolbar
							color="#FFFFFF"
							style="border-bottom: 2px solid #E3E3E3;"
							flat
							fixed app>
							<v-toolbar-side-icon @click="back()">
								<v-icon color="#A7C22A">arrow_back</v-icon>
							</v-toolbar-side-icon>

							<v-toolbar-title style="color: #A7C22A;" class="ml-0 hidden-sm-and-up">Detail Pembayaran</v-toolbar-title>

							<v-toolbar-title class="hidden-xs-only">
								<img src="https://tokomanamana.com/files/images/logo.png">
							</v-toolbar-title>

							<v-spacer></v-spacer>
						</v-toolbar>
					</div>
				</template>

				<v-flex md12 class="hidden-xs-only my-2">
					<v-stepper style="box-shadow: unset !important;">
						<v-stepper-header style="box-shadow: unset !important;">
							<v-stepper-step step="1" color="#A7C22A" complete>
								Pilih Chip ID
							</v-stepper-step>
							<v-stepper-step step="2" color="#A7C22A" complete>
								Pilih Paket
							</v-stepper-step>
							<v-stepper-step step="3" color="#A7C22A" complete>
								Pilih Metode Pembayaran
							</v-stepper-step>
							<v-stepper-step step="4" color="#A7C22A" complete>
								Selesai
							</v-stepper-step>
						</v-stepper-header>
					</v-stepper>

					<v-spacer></v-spacer>

					<v-divider></v-divider>
				</v-flex>
			</v-flex>
		</v-layout>

		<v-layout v-show="order !== null && !loading"
			row
			wrap
			justify-center>
			<v-flex sm9 offset-sm-2>
				<v-layout row wrap>
					<v-flex sm6 class="text-xs-left">
						<div style="color: #999; margin-bottom: 6px; font-size: 10px; line-height: 1.4;">No. Tagihan</div>
						<div style="color: #333; font-size: 13px; line-height: 1.3;">{{ order.code }}</div>
					</v-flex>
					<v-flex sm6 class="text-xs-right">
						<div style="color: #999; margin-bottom: 6px; font-size: 10px; line-height: 1.4;">Status</div>
						<div style="color: #333; font-size: 13px; line-height: 1.3;">{{ order.payment_status }}</div>
					</v-flex>
				</v-layout>
				<!-- TRANSFER -->
				<v-flex sm12 class="mt-4" v-if="order.payment_method === 'transfer'">
					<div class="text-xs-center">Silahkan lakukan transfer sebesar:</div>
					<div 
						class="text-xs-center" 
						style="font-size: 27px; color: red; font-weight: 700; text-align: center; margin-top: 5px; margin-bottom: 10px;">{{ count_total_ammount() }}</div>
					<div v-if="order.payment_method === 'transfer'"
						class="speech-bubble"><p class="mb-0" style="padding-bottom: 5px;">Transfer tepat sampai 3 digit terakhir<br>Perbedaan nominal menghambat proses verifikasi</p>
					</div>
					<div class="text-xs-center mt-2">ke rekening berikut ini</div>
					<div class="text-xs-center px-5 py-2"
						style="display: inline-block; margin: 0 auto; background-color: #f5f5f5;">
						<div><strong>{{ payment_detail[payment_keys].account_number }}</strong></div>
						<div>{{ payment_detail[payment_keys].account_name }}</div>
						<div>{{ payment_detail[payment_keys].name }}</div>
						<div>{{ payment_detail[payment_keys].branch }}</div>
					</div>
					<div class="text-xs-center mt-4">Transaksi otomatis batal jika pembayaran tidak dilakukan sampai <strong>{{ order.due_date }}</strong></div>
				</v-flex>
				<!-- VIRTUAL ACCOUNT -->
				<v-flex sm12 class="mt-4" v-else-if="order.payment_method === 'bca_va' || order.payment_method === 'mandiri_va' || order.payment_method === 'bri_va' || order.payment_method === 'bni_va'">
					<div class="text-xs-center">Silahkan lakukan transfer sebesar:</div>
					<div 
						class="text-xs-center" 
						style="font-size: 27px; color: red; font-weight: 700; text-align: center; margin-top: 5px; margin-bottom: 10px;">{{ count_total_ammount() }}</div>
					<div class="text-xs-center mt-2">ke rekening berikut ini</div>
					<div class="text-xs-center px-5 py-2"
						style="display: inline-block; margin: 0 auto; background-color: #f5f5f5;">
						<div><strong>{{ payment_detail.account_number }}</strong></div>
						<div>{{ payment_detail.account_name }}</div>
						<div>{{ payment_detail.name }}</div>
						<div>{{ payment_detail.branch }}</div>
					</div>
					<div class="text-xs-center mt-4">Transaksi otomatis batal jika pembayaran tidak dilakukan sampai <strong>{{ order.due_date }}</strong></div>
				</v-flex>
				<!-- ALFAMART -->
				<v-flex sm12 class="mt-4" v-else-if="order.payment_method === 'alfamart' || order.payment_method === 'indomaret'">
					<div class="text-xs-center">Silahkan lakukan pembayaran sebesar:</div>
					<div 
						class="text-xs-center" 
						style="font-size: 27px; color: red; font-weight: 700; text-align: center; margin-top: 5px; margin-bottom: 10px;">{{ count_total_ammount() }}</div>
					<div class="text-xs-center mt-2">ke {{payment_detail.account_code}} terdekat</div>
					<div class="text-xs-center px-5 py-2"
						style="display: inline-block; margin: 0 auto; background-color: #f5f5f5;">
						<div><strong>{{ payment_detail.account_number}}</strong></div>
					</div>
					<div class="text-xs-center mt-4">Transaksi otomatis batal jika pembayaran tidak dilakukan sampai <strong>{{ order.due_date }}</strong></div>
				</v-flex>

				<v-flex sm12 
					class="mt-2"
					style="background: #f7f7f7; border-top: 1px dashed #cbcbcb; padding: 15px;">
					<p>Detail Pesanan</p>
					<v-card flat class="mb-2" color="#FFFFFF">
						<v-card-text class="ma-0 pa-0">
							<v-list class="mx-0 px-0 py-2">
								<v-list-tile>
									<span class="text-muted">Tanggal</span> <v-spacer></v-spacer> {{ order.date_added }}
								</v-list-tile>

								<v-divider></v-divider>

								<v-list-tile>
									<span class="text-muted">Chip ID</span> <v-spacer></v-spacer> {{ product_detail.Chipid }}
								</v-list-tile>

								<v-divider></v-divider>

								<v-list-tile>
									<span class="text-muted">Produk</span> <v-spacer></v-spacer> {{ product_detail.Produk }}
								</v-list-tile>
							</v-list>
						</v-card-text>
					</v-card>
				</v-flex>
			</v-flex>
			<v-flex sm3 offset-sm-2>
				<v-flex v-if="order.payment_method == 'transfer'" sm12 class="mt-2">
					<!-- <v-btn  @click.stop="dialog_konfirmasi = true" @click="sendWhatsapp()" style="width:80%" color="secondary" class="white--text">Konfirmasi Pembayaran</v-btn> -->
					<v-btn  @click.stop="dialog_konfirmasi = true" style="width:80%" color="secondary" class="white--text">Konfirmasi Pembayaran</v-btn>
				</v-flex>
				<v-dialog
					v-model="dialog_konfirmasi"
					max-width="290"
					>
					<v-card>
						<v-card-title class="headline">Konfirmasi Pembayaran</v-card-title>

						<v-card-text class="text-xs-center">
						Untuk melakukan konfirmasi pembayaran, dimohon untuk melampirkan <strong>BUKTI PEMBAYARAN</strong> berupa gambar.
						</v-card-text>

						<v-card-actions>
						<v-spacer></v-spacer>

						<v-btn
							color="red lighteen-1"
							flat="flat"
							@click="dialog_konfirmasi = false"
						>
							Batal
						</v-btn>

						<v-btn
							color="green darken-1"
							flat="flat"
							@click="sendWhatsapp()"
						>
							Lanjutkan
						</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
				<!-- <v-flex v-if="order.payment_method == 'transfer'" sm12 class="mt-2">
					<v-btn @click="sendWhatsapp()" style="width:80%" color="secondary" class="white--text">Petunjuk Pembayaran</v-btn>
				</v-flex> -->
				<v-dialog
					v-model="dialog_pembayaran"
					width="800"
					>
					<template v-slot:activator="{ on }">
						<v-btn
						style="width:80%"
						color="secondary"
						v-on="on"
						>
						Petunjuk Pembayaran
						</v-btn>
					</template>
					<!-- TRANSFER -->
					<v-card v-if="order.payment_method === 'transfer'">
						<v-card-title
						class="title grey lighten-2"
						primary-title
						>
						Petunjuk Pembayaran <div class="text-capitalize pl-1 pr-1">{{ order.payment_method }}</div> Bank <div class="text-uppercase pl-1">{{ payment_keys }}</div>
						</v-card-title>

						<v-card-text v-if="payment_keys === 'bca'">
							<p>Rekening atas nama PT Tokomanamana Nasional Indonesia. Verifikasi pembayaran otomatis apabila nilai yang ditransfer sesuai  (termasuk kode unik 3 digit terakhir tagihan transaksi) dan memasukan berita transfer pada kolom berita saat transfer.</p><p> Kode unik adalah nominal yang ditambahkan dalam total pembayaran jika pembeli memilih metode pembayaran transfer. Kode unik berfungsi sebagai pembeda antara pembayaran pembeli dengan pembeli lain, sehingga memudahkan proses verifikasi.</p><p> Setiap transaksi di Tokomanamana akan dikenakan biaya operasional dalam bentuk kode unik pembayaran yang ditanggung oleh pembeli. Perbedaan jumlah dana yang ditransfer (tidak sesuai tagihan atau dibulatkan) akan menghambat proses verifikasi pembayaran.</p><p> Berikut ini adalah langkah-langkah yang dapat pembeli lakukan jika ingin membayar transaksi dengan cara transfer.</p>
							<strong>PENTING!</strong><strong>Pembeli wajib mengisi berita transfer pada saat pembayaran demi kelancaran proses verifikasi. Apabila tidak ada berita transfer, proses verifikasi tidak dapat di proses.</strong>
							<br><br>
							<v-expansion-panel
								v-model="panel_pembayaran"
								expand
								>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui ATM</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. <strong>Masukkan kartu BCA, Pilih bahasa pengantar</strong>, Agar lebih mudah, sebaiknya pilih “Indonesia”.</div>
										<div>2. <b>Masukkan 6 digit PIN</b> Anda.</div>
										<div>3. Setelah Anda memasukkan PIN, Pilih <b>“menu lain”</b>.</div>
										<div>4. Setelah itu silahkan pilih <b>“transfer”</b>.</div>
										<div>5. Setelah memilih “transfer”, Silahkan pilih <b>“dari rekening tabungan”</b>.</div>
										<div>6. Untuk melakukan transfer ke sesama BCA, pilih  <b>“ke rekening BCA”</b>.</div>
										<div>7. Masukan no <b>rekening tujuan</b>.</div>
										<div>8. <b>Masukkan nominal uang</b> yang akan Anda transfer.</div>
										<div>9. Anda akan dimintai <b>konfirmasi ulang</b> tentang kebenaran data yang telah dimasukkan. Pilih <b>“ya”</b> jika semua data sudah sesuai,</div> 
										<div>10. <b>Transaksi selesai</b>, simpan bukti transfer sebagai bukti transaksi.</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Mobile BCA</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Pilih menu “m-BCA” di ponsel Anda dan tekan OK/YES</div>
										<div>2. Pilih menu “m-Transfer” dan tekan OK/YES</div>
										<div>3. Pilih “Antar Rek” dan tekan OK/YES</div>
										<div>4. Pilih “Mata Uang (Rp/USD/SGD)” dan tekan OK/YES</div>
										<div>5. Masukkan Jumlah Uang yang akan ditransfer dan tekan OK/YES</div>
										<div>6. Masukkan No. RekeningTujuan yang akan ditransfer dan tekan OK/YES</div>
										<div>7. Masukkan PIN m-BCA Anda dan tekan OK/YES</div>
										<div>8. Muncul keterangan "berita" yang dapat Anda isi/kosongkan</div>
										<div>9. Jika Anda memiliki lebih dari 1 (satu) rekening yang terhubung dengan m-BCA, pilih nomor rekening yang akan digunakan, kemudian tekan OK/YES</div>
										<div>10. <b>Pastikan data transaksi yang muncul di layar konfirmasi telah benar</b>. Jika benar, tekan OK/YES dan lanjutkan ke no. 11. Jika tidak, diamkan selama beberapa saat sampai message tersebut hilang dan otomatis transaksi tersebut akan dibatalkan</div>
										<div>11. Masukkan PIN m-BCA Anda dan tekan OK/YES</div>
										<div>12. Setelah beberapa saat, Anda akan menerima message yang berisi informasi transaksi transfer Anda Berhasil atau Gagal.</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui KlikBCA</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Buka klikbca.com lalu login</div>
										<div>2. Pilih menu “Transfer Dana”, pilih “Transfer Ke Rek BCA”</div>
										<div>3. Pilih rekening tujuan, masukkan jumlah dan berita transfer sesuai aplikasi</div>
										<div>4. Scroll kebawah, pilih “transfer sekarang”, klik tombol <b>lanjutkan</b></div>
										<div>5. <b>Pastikan data transaksi yang muncul di layar konfirmasi telah benar</b> dan lanjutkan </div>
										<div>6. Transfer uang telah selesai, simpan bukti transfer sebagai bukti transaksi</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-card-text>
						<v-card-text v-else-if="payment_keys === 'mandiri'">
							<p>Rekening atas nama PT Tokomanamana Nasional Indonesia. Verifikasi pembayaran otomatis apabila nilai yang ditransfer sesuai  (termasuk kode unik 3 digit terakhir tagihan transaksi) dan memasukan berita transfer pada kolom berita saat transfer. Kode unik adalah nominal yang ditambahkan dalam total pembayaran jika pembeli memilih metode pembayaran transfer. Kode unik berfungsi sebagai pembeda antara pembayaran pembeli dengan pembeli lain, sehingga memudahkan proses verifikasi. Setiap transaksi di Tokomanamana akan dikenakan biaya operasional dalam bentuk kode unik pembayaran yang ditanggung oleh pembeli. Perbedaan jumlah dana yang ditransfer (tidak sesuai tagihan atau dibulatkan) akan menghambat proses verifikasi pembayaran.</p><p>Berikut ini adalah langkah-langkah yang dapat pembeli lakukan jika ingin membayar transaksi dengan cara transfer.</p>
							<br>
							<v-expansion-panel
								v-model="panel_pembayaran"
								expand
								>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui ATM</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Masukan kartu ATM Mandiri</div>
										<div>2. Pilih Menu Bahasa Indonesia</div>
										<div>3. Masukan 6 digit Pin anda dengan benar</div>
										<div>4. Pilih menu “transaksi lainnya”</div>
										<div>5. Pilih menu “Transfer”</div>
										<div>6. Pilih menu “ke Rekening Mandiri”</div>
										<div>7. Masukan nomor rekening tujuan (pilih Benar)</div>
										<div>8. masukan jumlah uang yang akan ditransfer (pilih Benar)</div>
										<div>9. Perhatikan konfirmasi transfer, jika benar pilih Benar</div>
										<div>10. Transaksi anda telah selesai, pilih Keluar</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Mandiri Online</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Login di aplikasi Mandiri Online</div>
										<div>2. Pilih "Transfer"</div>
										<div>3. Pilih "Ke Rekening Mandiri"</div>
										<div>4. Tentukan "Rekening Sumber"</div>
										<div>5. Isi "Rekening Tujuan" dan "Jumlah" Transfer</div>
										<div>6. "Konfirmasi" dan Masukkan "MPIN"</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-card-text>
						<v-card-text v-else-if="payment_keys === 'bri'">
							<p>Rekening atas nama PT Tokomanamana Nasional Indonesia. Verifikasi pembayaran otomatis apabila nilai yang ditransfer sesuai  (termasuk kode unik 3 digit terakhir tagihan transaksi) dan memasukan berita transfer pada kolom berita saat transfer.</p><p>
							Kode unik adalah nominal yang ditambahkan dalam total pembayaran jika pembeli memilih metode pembayaran transfer. Kode unik berfungsi sebagai pembeda antara pembayaran pembeli dengan pembeli lain, sehingga memudahkan proses verifikasi.</p><p>
							Setiap transaksi di Tokomanamana akan dikenakan biaya operasional dalam bentuk kode unik pembayaran yang ditanggung oleh pembeli. Perbedaan jumlah dana yang ditransfer (tidak sesuai tagihan atau dibulatkan) akan menghambat proses verifikasi pembayaran.</p><p>
							Berikut ini adalah langkah-langkah yang dapat pembeli lakukan jika ingin membayar transaksi dengan cara transfer.</p>
							<br><br>
							<v-expansion-panel
								v-model="panel_pembayaran"
								expand
								>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui ATM</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Masukan Kartu ATM</div>
										<div>2. Pilih “Bahasa Indonesia”</div>
										<div>3. Pilih Lanjutkan</div>
										<div>4. Masukan PIN ATM</div>
										<div>5. Pilih Transaksi Lain</div>
										<div>6. Pilih Transfer</div>
										<div>7. Selanjutnya Pilih Bank BRI</div>
										<div>8. Masukan Nomor Rekening Tujuan -> BENAR</div>
										<div>9. Masukan Jumlah Transfer -> BENAR</div>
										<div>10. Konfirmasi Transfer -> YA</div>
										<div>11. Transaksi Selesai</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Internet Banking</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Login ke BRI Mobile</div>
										<div>2. Tekan menu <b>“Transfer”</b></div>
										<div>3. Kemudian pilih menu <b>“Transfer dalam Bank”</b></div>
										<div>4. Masukkan nomor Rekening Tujuan dan jumlah pembayaran.</div>
										<div>5. Tekan <b>“Kirim”</b> dan masukan password untuk melanjutkan transaksi</div>
										<div>6. Transaksi berhasil</div>
										<div>7. Setelah beberapa saat, Anda akan menerima SMS konfirmasi</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-card-text>
						<v-divider></v-divider>

						<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="primary"
							flat
							@click="dialog_pembayaran = false"
						>
							Close
						</v-btn>
						</v-card-actions>
					</v-card>
					<!-- Virtual Account -->
					<!-- BCA VA -->
					<v-card v-else-if="order.payment_method === 'bca_va'">
						<v-card-title
						class="title grey lighten-2"
						primary-title
						>
						Petunjuk Pembayaran BCA Virtual Account
						</v-card-title>

						<v-card-text>
							<p>Berikut adalah syarat dan ketentuan pembayaran transaksi menggunakan BCA Virtual Account:</p>
							<div>1.  Bila pembeli masuk sebagai tamu atau pembeli dengan nomor telepon yang belum terverifikasi di Tokomanamana, maka harus melakukan konfirmasi agar dapat melanjutkan pembelian.
							Virtual account yang dimasukkan adalah kode perusahaan + nomor yang akan dibuatkan secara otomatis oleh sistem.</div>
							<div>Contoh: 39229 - 081340XXXXXX.</div>
							<div>2.  Rekening BCA Virtual Account tersebut atas nama PT. Tokomanamana Nasional Indonesia. Pembayaran transaksi menggunakan BCA Virtual Account tanpa dikenakan biaya pelayanan.</div>
							<div>3.  Satu nomor virtual account hanya berlaku untuk satu akun (tidak berubah-ubah).</div>
							<div>4.  Pembayaran dengan virtual account hanya berlaku untuk satu tagihan terbaru.</div>
							<div>5.  Pembeli tidak dapat mengganti nomor telepon yang sudah terdaftar di Tokomanamana sebelum tagihan terbaru virtual account dibayar.</div><br>
							<p>Dibawah ini adalah langkah-langkah yang dapat pembeli lakukan ketika ingin membayar transaksi mengggunakan BCA Virtual Account:</p>
							<br><br>
							<v-expansion-panel
								v-model="panel_pembayaran"
								expand
								>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui ATM</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Masukkan kartu ke mesin ATM</div>
										<div>2. Masukkan 6 digit PIN Anda</div>
										<div>3. Pilih <b>“Transaksi Lainnya”</b></div>
										<div>4. Pilih <b>“Transfer”</b></div>
										<div>5. Pilih ke <b>“ke Rekening BCA Virtual Account”</b></div>
										<div>6. Masukkan nomor BCA Virtual Account Anda, kemudian tekan <b>“Benar”</b></div>
										<div>7. Periksa jumlah yang akan dibayarkan, selanjutnya tekan <b>“Benar”</b></div>
										<div>8. Validasi pembayaran Anda. Pastikan semua detail transaksi yang ditampilkan sudah benar, kemudian pilih <b>“Ya”</b></div>
										<div>9. Pembayaran Anda telah selesai. Tekan <b>“Tidak”</b> untuk menyelesaikan transaksi, atau tekan <b>“Ya”</b> untuk melakukan transaksi lainnya</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Mobile BCA</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Silahkan login pada aplikasi BCA Mobile</div>
										<div>2. Pilih <b>“m-BCA”</b>, lalu masukkan kode akses m-BCA</div>
										<div>3. Pilih <b>“m-Transfer”</b></div>
										<div>4. Pilih <b>“BCA Virtual Account”</b></div>
										<div>5. Masukkan nomor BCA Virtual Account Anda, atau pilih dari Daftar Transfer</div>
										<div>6. Periksa jumlah yang akan dibayarkan</div>
										<div>7. Masukkan PIN m-BCA Anda</div>
										<div>8. Transaksi telah berhasil</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui KlikBCA Pribadi</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Silahkan login pada aplikasi KlikBCA Individual</div>
										<div>2. Masukkan User ID dan PIN Anda</div>
										<div>3. Pilih <b>“Transfer Dana”</b> </div>
										<div>4. Pilih <b>“Transfer ke BCA Virtual Account”</b></div>
										<div>5. Masukkan nomor BCA Virtual Account Anda atau pilih dari Daftar Transfer</div>
										<div>6. Periksa jumlah yang akan dibayarkan</div>
										<div>7. Validasi pembayaran. Pastikan semua datanya sudah benar, lalu masukkan kode yang diperoleh dari KEYBCA APPLI 1, kemudian klik <b>“Kirim”</b></div>
										<div>8. Pembayaran telah selesai dilakukan</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui KlikBCA Bisnis</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Silahkan melakukan login di KlikBCA Bisnis</div>
										<div>2. Pilih <b>“Transfer Dana”</b> > <b>“Daftar Transfer”</b> > <b>“Tambah”</b></div>
										<div>3. Masukkan nomor BCA Virtual Account, lalu “Kirim”</div>
										<div>4. Pilih <b>“Transfer Dana”</b></div>
										<div>5. Pilih <b>“Ke BCA Virtual Account”</b></div>
										<div>6. Pilih rekening sumber dana dan BCA Virtual Account tujuan</div>
										<div>7. Periksa jumlah yang akan dibayarkan, lalu pilih <b>“Kirim”</b></div>
										<div>8. Validasi Pembayaran. Sampai tahap ini berarti data berhasil di input. Kemudian pilih <b>“simpan”</b></div>
										<div>9. Pilih <b>“Transfer Dana”</b> > <b>“Otorisasi Transaksi”</b>, lalu pilih transaksi yang akan diotorisasi</div>
										<div>10. Pembayaran telah selesai dilakukan</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-card-text>
						<v-divider></v-divider>

						<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="primary"
							flat
							@click="dialog_pembayaran = false"
						>
							Close
						</v-btn>
						</v-card-actions>
					</v-card>
					<!-- BRI VA -->
					<v-card v-else-if="order.payment_method === 'bri_va'">
						<v-card-title
						class="title grey lighten-2"
						primary-title
						>
						Petunjuk Pembayaran BRI Virtual Account
						</v-card-title>

						<v-card-text>
							<p>Berikut adalah syarat dan ketentuan pembayaran transaksi menggunakan BRI Virtual Account:</p>
							<div>1.  Bila pembeli masuk sebagai tamu atau pembeli dengan nomor telepon yang belum terverifikasi di Tokomanamana, maka harus melakukan konfirmasi agar dapat melanjutkan pembelian.</div>
							<div>2.  Rekening BRI Virtual Account tersebut atas nama PT. Tokomanamana Nasional Indonesia. Pembayaran transaksi menggunakan BRI Virtual Account tanpa dikenakan biaya pelayanan.</div>
							<div>3.  Satu nomor virtual account hanya berlaku untuk satu akun (tidak berubah-ubah).</div>
							<div>4.  Pembayaran dengan virtual account hanya berlaku untuk satu tagihan terbaru.</div>
							<div>5.  Pembeli tidak dapat mengganti nomor telepon yang sudah terdaftar di Tokomanamana sebelum tagihan terbaru virtual account dibayar.</div><br>
							<p>Dibawah ini adalah langkah-langkah yang dapat pembeli lakukan ketika ingin membayar transaksi mengggunakan BRI Virtual Account:</p>
							<br><br>
							<v-expansion-panel
								v-model="panel_pembayaran"
								expand
								>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui ATM</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Pilih menu <b>“Transaksi Lain”</b></div>
										<div>2. Selanjutnya pilih menu <b>“Lainnya”</b></div>
										<div>3. Kemudian pilih menu <b>“Pembayaran”</b></div>
										<div>4. Tekan pada pilihan <b>“BRIVA”</b></div>
										<div>5. Masukkan Nomor BRI Virtual Account (Contoh 26215-xxxxxxxxxxxx) lalu tekan <b>“Benar”</b></div>
										<div>6. Selanjutnya muncul konfirmasi pembayaran, tekan <b>“Ya”</b> jika semua data sudah sesuai</div>
										<div>7. Transaksi berhasil dilakukan</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Mobile Banking</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Login ke mobile banking</div>
										<div>2. Tekan menu <b>“Pembayaran”</b></div>
										<div>3. Kemudian pilih menu <b>“BRIVA”</b></div>
										<div>4. Masukkan nomor BRI Virtual Account Anda beserta jumlah pembayaran</div>
										<div>5. Masukkan nomor PIN Anda</div>
										<div>6. Tekan <b>“OK”</b> untuk melanjutkan transaksi</div>
										<div>7. Transaksi berhasil</div>
										<div>8. Setelah beberapa saat, Anda akan menerima SMS konfirmasi</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Internet Banking</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Buka website internet banking BRI</div>
										<div>2. Login dengan memasukkan <b>User ID</b> dan <b>Password</b></div>
										<div>3. Pilih pada menu <b>“Pembayaran”</b></div>
										<div>4. Selanjutnya pilih menu <b>“BRIVA”</b></div>
										<div>5. Kemudian pilih rekening <b>Pembayar</b></div>
										<div>6. Masukkan Nomor Virtual Account BRI Anda (Contoh 26215-xxxxxxxxxxxx) </div>
										<div>7. Masukkan nominal yang akan dibayarkan</div>
										<div>8. Masukkan password dan Mtoken Anda</div>
										<div>9. Transaksi berhasil dilakukan</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-card-text>
						<v-divider></v-divider>

						<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="primary"
							flat
							@click="dialog_pembayaran = false"
						>
							Close
						</v-btn>
						</v-card-actions>
					</v-card>
					<!-- MANDIRI VA -->
					<v-card v-else-if="order.payment_method === 'mandiri_va'">
						<v-card-title
						class="title grey lighten-2"
						primary-title
						>
						Petunjuk Pembayaran Mandiri Virtual Account
						</v-card-title>

						<v-card-text>
							<p>Berikut adalah syarat dan ketentuan pembayaran transaksi menggunakan MANDIRI Virtual Account:</p>
							<div>1.  Bila pembeli masuk sebagai tamu atau pembeli dengan nomor telepon yang belum terverifikasi di Tokomanamana, maka harus melakukan konfirmasi agar dapat melanjutkan pembelian.</div>
							<div>2.  Rekening MANDIRI Virtual Account tersebut atas nama PT. Tokomanamana Nasional Indonesia. Pembayaran transaksi menggunakan MANDIRI Virtual Account tanpa dikenakan biaya pelayanan.</div>
							<div>3.  Satu nomor virtual account hanya berlaku untuk satu akun (tidak berubah-ubah).</div>
							<div>4.  Pembayaran dengan virtual account hanya berlaku untuk satu tagihan terbaru.</div>
							<div>5.  Pembeli tidak dapat mengganti nomor telepon yang sudah terdaftar di Tokomanamana sebelum tagihan terbaru virtual account dibayar.</div>
							<p>Dibawah ini adalah langkah-langkah yang dapat pembeli lakukan ketika ingin membayar transaksi mengggunakan MANDIRI Virtual Account:</p>
							<br><br>
							<v-expansion-panel
								v-model="panel_pembayaran"
								expand
								>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui ATM</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Silahkan pilih menu “Bayar/Beli”</div>
										<div>2. Selanjutnya akan muncul tipe pembayaran seperti Multi Payment dan Bill Payment (PLN, PDAM, dll), untuk pembayaran VA pilih “Multi Payment”</div>
										<div>3. Silahkan masukkan kode perusahaan, contoh: “88908” (Xendit), lalu pilih “Benar”</div>
										<div>4. Masukkan nomor Virtual Account Anda (contoh: 8890802001287578) dan klik “Benar”</div>
										<div>5. Isikan nominal yang akan dibayarkan, kemudian tekan “Benar”</div>
										<div>6. Jangan lupa untuk memeriksa informasi yang tertera pada layar. Pastikan semua informasi dan total tagihan yang ditampilkan sudah benar. Jika benar, tekan angka 1 dan pilih “Ya”</div>
										<div>7. Periksa layar konfirmasi dan pilih “Ya” untuk melakukan pembayaran</div>
										<div>8. Bukti pembayaran dalam bentuk struk agar disimpan sebagai bukti pembayaran yang sah dari Bank Mandiri</div>
										<div>9. Transaksi Anda telah selesai</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Mobile Banking</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Silahkan login ke mobile banking Anda.</div>
										<div>2. Klik <b>“Icon Menu”</b> di sebelah kiri atas.</div>
										<div>3. Pilih menu <b>“Pembayaran”</b></div>
										<div>4. Pilih buat <b>“Pembayaran Baru”</b></div>
										<div>5. Pilih <b>“Multi Payment”</b></div>
										<div>6. Klik <b>“Penyedia Jasa”</b> atau <b>“Service Provider”</b>,  kemudian pilih kode perusahaan, contoh:  “Xendit 88908”</div>
										<div>7. Pilih <b>“No. Virtual”</b></div>
										<div>8. Masukkan nomor Virtual Account Anda dengan kode perusahaan (contoh 8890802001287578), kemudian pilih <b>“Tambah Sebagai Nomor Baru”</b></div>
										<div>9. Masukkan nominal lalu pilih <b>“Konfirmasi”</b> dan <b>“lanjut”</b></div>
										<div>10. Selanjutnya akan muncul tampilan konfirmasi pembayaran. Pastikan semua informasi dan total tagihan sudah benar. Jika sudah benar, lalu scroll ke bawah  dan pilih <b>“Konfirmasi”</b></div>
										<div>11. Masukkan PIN Anda dan pilih <b>“OK”</b></div>
										<div>12. Sampai pada tahap ini, berarti transaksi dengan menggunakan VA telah berhasil dilakukan.</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Internet Banking</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Login ke website Mandiri Online dengan memasukkan <b>user ID dan PIN</b></div>
										<div>2. Pilih menu <b>“Pembayaran”</b></div>
										<div>3. Pilih menu <b>“Multi Payment”</b></div>
										<div>4. Silahkan pilih <b>“No Rekening Anda”</b></div>
										<div>5. Pilih <b>“Penyedia Jasa”</b>, contoh: <b>“Xendit 88908”</b></div>
										<div>6. Pilih <b>“No Virtual Account”</b></div>
										<div>7. Masukkan <b>“Nomor Virtual Account”</b></div>
										<div>8. Masuk ke halaman konfirmasi 1</div>
										<div>9. Apabila sudah sesuai, klik <b>“Tagihan Total”</b>, kemudian <b>“Lanjutkan”</b></div>
										<div>10. Masuk ke halaman konfirmasi 2</div>
										<div>11. Masukkan Challenge Code yang dikirimkan ke Token Internet Banking Anda, kemudian <b>“Kirim”</b></div>
										<div>12. Anda akan masuk ke halaman konfirmasi jika pembayaran telah selesai</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-card-text>
						<v-divider></v-divider>

						<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="primary"
							flat
							@click="dialog_pembayaran = false"
						>
							Close
						</v-btn>
						</v-card-actions>
					</v-card>
					<!-- BNI VA -->
					<v-card v-else-if="order.payment_method === 'bni_va'">
						<v-card-title
						class="title grey lighten-2"
						primary-title
						>
						Petunjuk Pembayaran BNI Virtual Account
						</v-card-title>

						<v-card-text>
							<p>Berikut adalah syarat dan ketentuan pembayaran transaksi menggunakan BNI Virtual Account:</p>
							<div>1.  Bila pembeli masuk sebagai tamu atau pembeli dengan nomor telepon yang belum terverifikasi di Tokomanamana, maka harus melakukan konfirmasi agar dapat melanjutkan pembelian.</div>
							<div>2.  Rekening BNI Virtual Account tersebut atas nama PT. Tokomanamana Nasional Indonesia. Pembayaran transaksi menggunakan BNI Virtual Account tanpa dikenakan biaya pelayanan.</div>
							<div>3.  Satu nomor virtual account hanya berlaku untuk satu akun (tidak berubah-ubah).</div>
							<div>4.  Pembayaran dengan virtual account hanya berlaku untuk satu tagihan terbaru.</div>
							<div>5.  Pembeli tidak dapat mengganti nomor telepon yang sudah terdaftar di Tokomanamana sebelum tagihan terbaru virtual account dibayar.</div><br>
							<p>Dibawah ini adalah langkah-langkah yang dapat pembeli lakukan ketika ingin membayar transaksi mengggunakan BNI Virtual Account:</p>
							<br><br>
							<v-expansion-panel
								v-model="panel_pembayaran"
								expand
								>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui ATM</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Pilih <b>“Menu Lain”</b> > <b>“Transfer”</b> > <b>“Transaksi Lainnya”</b></div>
										<div>2. Pilih ke Rekening BNI</div>
										<div>3. Masukkan nomor Virtual Account Anda dan klik <b>“Benar”</b></div>
										<div>4. Masukkan nominal sesuai tagihan, lalu pilih <b>“Ya”</b></div>
										<div>5. Jangan lupa untuk memeriksa informasi yang tertera pada layar. Pastikan semua informasi dan total tagihan yang ditampilkan sudah benar. Jika benar, pilih <b>“Ya”</b></div>
										<div>6. Selanjutnya tekan <b>“Tidak”</b> untuk menyelesaikan transaksi.</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Mobile Banking</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Login mobile banking dengan memasukkan User ID dan MPIN Anda</div>
										<div>2. Pilih <b>“Transfer”</b> > <b>“Virtual Account Billing”</b></div>
										<div>3. Pilih <b>“Input Baru”</b></div>
										<div>4. Masukkan nomor Virtual Account Anda, lalu pilih <b>“Benar”</b></div>
										<div>5. Masukkan nominal yang akan dibayarkan, lalu pilih <b>“Benar”</b></div>
										<div>6. Konfirmasi transaksi dan masukkan password, lalu klik <b>“Lanjut”</b></div>
										<div>7. Sampai pada tahap ini, transaksi telah berhasil dilakukan.</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Internet Banking</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Login ke situs internet banking BNI dengan memasukkan username dan password</div>
										<div>2. Pilih menu <b>“Transaksi”</b> > <b>“Info dan Administrasi Transfer”</b> > <b>“Atur Rekening Tujuan”</b> > <b>“Tambah Rekening Tujuan”</b>, lalu klik <b>“OK”</b></div>
										<div>3. Isi data rekening, lalu tekan <b>“Lanjutkan”</b></div>
										<div>4. Selanjutnya akan muncul detail konfirmasi, apabila sudah benar dan sesuai, masukkan 8 digit angka yang dihasilkan oleh APPLI 2 pada token BNI Anda, lalu klik <b>“Proses”</b></div>
										<div>5. Rekening tujuan berhasil ditambahkan</div>
										<div>6. Pilih <b>“Transfer”</b> > <b>“Transfer Antar Rek BNI”</b></div>
										<div>7. Lengkapi semua data akun penerima, lalu klik <b>“Lanjutkan”</b></div>
										<div>8. Transaksi Anda telah selesai</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-card-text>
						<v-divider></v-divider>

						<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="primary"
							flat
							@click="dialog_pembayaran = false"
						>
							Close
						</v-btn>
						</v-card-actions>
					</v-card>
					<!-- END VIRTUAL ACCOUNT -->

					<!-- RETAIL OUTLET -->
					<!-- ALFAMART  & INDOMARET -->
					<v-card v-else-if="order.payment_method === 'alfamart' || order.payment_method === 'indomaret'">
						<v-card-title
						class="title grey lighten-2"
						primary-title
						>
						Petunjuk Pembayaran <div class="text-capitalize pl-1 pr-1">{{ order.payment_method }}</div>
						</v-card-title>

						<v-card-text v-if="order.payment_method === 'alfamart'">
							<p>Lakukan pembayaran di retail outlet seperti Alfamart (termasuk Alfamidi, DAN-DAN dan Lawson) dengan menunjukkan Kode Pembayaran yang tercantum pada rincian tagihan ke petugas kasir.</p>
							<p>Nilai maksimum per transaksi yang diperbolehkan adalah Rp5.000.000. Pembeli akan dikenakan biaya tambahan per transaksi sebesar Rp2.500 (di luar total belanja) yang dibayarkan langsung saat pembayaran melalui gerai Alfamart (termasuk Alfamidi, DAN-DAN dan Lawson). Ini merupakan ketentuan sepenuhnya dari Alfamart dan dapat berubah sewaktu-waktu tanpa pemberitahuan sebelumnya. Metode pembayaran ini bergantung kepada jam operasional cabang gerai Alfamart pilihan pembeli. Hal tersebut sepenuhnya berada di luar kuasa dan tanggung jawab Tokomanamana.</p>
							<p>Berikut ini adalah langkah-langkah yang dapat pembeli lakukan jika ingin membayar transaksi menggunakan Aflamart.</p>
							<br><br>
							<v-expansion-panel
								v-model="panel_pembayaran"
								expand
								>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Outlet</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Info ke petugas kasir ingin melakukan pembayaran Tokomanamana</div>
										<div>2. Tunjukkan <b>Kode Pembayaran</b> ke petugas kasir Alfamart.</div>
										<!-- GAMBAR ALFAMART -->
										<div>3. Simpan bukti pembayaran yang diberikan oleh petugas kasir Alfamart sebagai bukti transaksi apabila sewaktu-waktu dibutuhkan.</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-card-text>
						<v-card-text v-else-if="order.payment_method === 'indomaret'">
							<p>Lakukan pembayaran di retail outlet seperti Indomaret dengan menunjukkan Kode Pembayaran yang tercantum pada rincian tagihan ke petugas kasir.</p>
							<p>Nilai maksimum per transaksi yang diperbolehkan adalah Rp5.000.000. Pembeli akan dikenakan biaya tambahan per transaksi sebesar Rp2.500 (di luar total belanja) yang dibayarkan langsung saat pembayaran melalui gerai Indomaret. Ini merupakan ketentuan sepenuhnya dari Indomaret dan dapat berubah sewaktu-waktu tanpa pemberitahuan sebelumnya. Metode pembayaran ini bergantung kepada jam operasional cabang gerai Indomaret pilihan pembeli. Hal tersebut sepenuhnya berada di luar kuasa dan tanggung jawab Tokomanamana.</p>
							<p>Berikut ini adalah langkah-langkah yang dapat pembeli lakukan jika ingin membayar transaksi menggunakan Indomaret.</p>
							<br><br>
							<v-expansion-panel
								v-model="panel_pembayaran"
								expand
								>
								<v-expansion-panel-content>
									<template v-slot:header>
									<div>Melalui Outlet</div>
									</template>
									<v-card>
									<v-card-text class="grey lighten-3">
										<div>1. Info ke petugas kasir ingin melakukan pembayaran Tokomanamana.</div>
										<div>2. Tunjukkan <b>Kode Pembayaran</b> ke petugas kasir Indomaret.</div>
										<!-- GAMBAR Indomaret -->
										<div>3. Simpan bukti pembayaran yang diberikan oleh petugas kasir Indomaret sebagai bukti transaksi apabila sewaktu-waktu dibutuhkan.</div>
									</v-card-text>
									</v-card>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-card-text>
						<v-divider></v-divider>

						<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="primary"
							flat
							@click="dialog_pembayaran = false"
						>
							Close
						</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-flex>
		</v-layout>

    </div>
</template>

<script>
import util from '~/assets/js/util'
import axios from 'axios'

export default {
    data() {
        return {
        	date: '',
			order: {},
			invoice: {},
			payment_detail: {},
			payment_keys: '',
			product_detail: {},
			loading: false,
			payment_method: {},
			total_amount:'',
			dialog_pembayaran: false,
			dialog_konfirmasi:false,
			panel_pembayaran: [false, false, false]
        }
	},
	methods: {
		goto_inv () {
			let query = this.$route.query.order
			if (query !== undefined) {
				this.$router.push('/app_data/invoice?order=' + query)
			} else {
				this.$router.push('/app_data')
			}
		},
		back: function () {
			this.$router.back()
		},
        count_total_ammount: function() {
			let price = Number(this.order.total)
			let unique_code = Number(this.order.unique_code)
			let total_plus_code = price + unique_code;

            if (this.order.payment_method === 'transfer') {
				this.total_amount = util.rupiah(total_plus_code)
				return util.rupiah(total_plus_code)
			} else {
				this.total_amount = util.rupiah(price)
				return util.rupiah(price)
			}
        },
        do_query (url, is_post, body) {
			let header_data = {
				crossDomain: true,
				headers: {
					"Content-Type": "application/json",
					"Access-Control-Allow-Origin": "*",
					"Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
					"Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
				},
				timeout: 0
			}
			var qs = require('qs')
			if (is_post) {
				return axios({
					method: 'POST',
					url: this.$store.state.init.base + url,
					data: qs.stringify(body)
				})
			} else {
				return axios.get(this.$store.state.init.base + url, body, header_data)
			}
		},

		sendWhatsapp() {
			/* this is the magic */
			this.dialog_konfirmasi = false;
			window.open(
				// `https://api.whatsapp.com/send?phone=628118332018&text=${this.message.text}`,
				`https://api.whatsapp.com/send?phone=628118332018&text=Halo, Saya ingin melakukan konfirmasi pembayaran transfer sebesar ${this.total_amount} dengan nomor order ${this.order.code} . Terima kasih.`,
				"_blank"
				);
			}
    },
    mounted() {
		this.loading = true
		let query = this.$route.query.order
		if (query !== undefined) {
			let body = {
				'order': query
			}
			this.do_query('voucher/payment_detail', true, body).then(({data}) => {
				if (data.success === 1) {
					this.order = data.data.order
					this.invoice = data.data.invoice
					this.product_detail = JSON.parse(data.data.order.product_detail)
					this.payment_detail = data.data.order.payment_to ? JSON.parse(data.data.order.payment_to) : ''
					if(data.data.order.payment_method == 'transfer'){
						this.payment_keys = Object.keys(this.payment_detail)[0];
					}
					// console.log(this.payment_keys)
					this.count_total_ammount()
					this.loading = false
				} else {
					this.loading = false
					this.snackbar_text = res.msg
				}
	        })
		} else {
			this.$router.push('/app_data')
		}
	}
}
</script>

<style scoped>
	.speech-bubble {
		position: relative;
		background: #A7C22A;
		border-radius: .3em;
		color: #fff;
		font-size: 12px;
		text-align: center;
		padding-top: 5px;
	}
	.speech-bubble:after {
		content: '';
		position: absolute;
		color: #fff;
		top: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-bottom-color: #A7C22A;
		border-top: 0;
		margin-left: 10px;
		margin-top: -15px;
	}
</style>