<template>
	<v-dialog v-model="$store.state.order.show_order" persistent max-width="400px">
    
		<template v-slot:activator="{ on }">
		<!-- <v-btn color="primary" dark v-on="on">Open Dialog</v-btn> -->
		</template>
    
		<div style="border-radius: 5px; border: 1px solid #eceaea;background-color: white;">
			<v-layout justify-space-between align-center>
				<span class="subheading" style="padding: 1em;">Anda memiliki pesanan yang masih tertunda</span>
				<v-btn
					depressed
					color="white"
					style="margin: -12px"
					flat
					fab
					v-if="!$store.state.order.is_persist"
					@click="check_persist()">
					<v-icon>close</v-icon>
				</v-btn>
			</v-layout>

			<v-divider></v-divider>

			<v-layout wrap style="padding: 1em 0;">
				<v-flex xs12 v-for="(o, i) in $store.state.order.order" :key="'order_' + i">
					<h4 style="text-align: center;">{{o.produk}}</h4>
					<p style="text-align: center; margin-top: 12px; color: #E53956"><b>{{o.harga}}</b></p>
				</v-flex>
			</v-layout>

			<v-divider></v-divider>

			<v-layout fill-height justify-end class="my-2">
				<v-btn small style="" flat color="" @click="cancel()" :loading="is_loading">nanti saja</v-btn>
				<v-btn small style="" flat color="#A7C22A" @click="pay()" :loading="is_loading">Bayar sekarang</v-btn>
			</v-layout>
		</div>
	
		<v-snackbar
			v-model="snackbar"
			color="primary"
			multi-line
			:timeout="timeout">
			{{ snackbar_text }}
			<v-btn
				dark
				flat
				@click="snackbar = false" >
				Close
			</v-btn>
		</v-snackbar>
  	</v-dialog>
</template>

<script>
import * as axios from 'axios'

export default {
  data () {
    return {
      identity: '',
      password: '',
      is_loading: false,
      requiredRules: [
        v => !!v || 'This Field is required'
      ],
      timeout: 5000,
      snackbar: false,
      snackbar_text: ''
    }
  },
  computed: {
    disabled () {
      if (this.identity !== '' && this.password !== '') {
        return false
      }
      return true
    }
  },
  methods: {
  	pay () {
		this.is_loading = true
  		localStorage.setItem('origin_param', 1)
		this.$router.push('/app_data/payment')
  	},
	login () {
		window.location = 'https://tokomanamana.com/member/login'
	},
    check_persist () {
      this.$store.commit('order/change_show_order', 0)
      if (this.$store.state.order.is_persist) {
        this.$router.go(-1)
      }
    },
    cancel () {
		this.is_loading = true
    	this.$store.commit('order/change_show_order', 0)
    },
    do_query (url, body) {
			this.is_loading = true
			return axios.post(
				'/v_api/' + url, body,
				{
					crossDomain: true,
					headers: {
						"Content-Type": "application/json",
						"Access-Control-Allow-Origin": "*",
						"Access-Control-Allow-Methods": "DELETE, POST, GET, OPTIONS",
						"Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
					},
					timeout: 0
				}
			)
		}
	}
}
</script>