<template>
    <v-app>
        <v-content>
            <v-container class="pt-0">
                <nuxt />
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
export default {
  data() {
    return {
		
    }
  }
}
</script>
